<ion-content [fullscreen]="true">

  <div class="page-center text-center">
    <h1>
      <img src="../../../../assets/image/timeup.svg" alt="timeup" height="100" width="100">
    </h1>
    <div class="text-center">
      <h2>SORRY </h2>
    </div>
    <div class="text-center">
      <h5>YOUR SESSION WAS EXPIRED !... </h5>
    </div>
  </div>

</ion-content>