<ion-header>
  <ion-toolbar mode="ios" class="ion-toolbar-header-bg">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Summary</ion-title>
    <!-- <ion-icon slot="end" name="notifications" [routerLink]="['/notification']" routerDirection="forward"> </ion-icon>
    <div class="header-badge-area" [routerLink]="['/notification']">
      <ion-badge id="notifications-badge" color="danger">5</ion-badge>
    </div> -->
  </ion-toolbar>
</ion-header>

<ion-content class="">

  <ion-refresher  slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content> </ion-refresher-content>
  </ion-refresher>
  
  <div class="summary-wrapper ion-padding">
    <div class="row">
      <div class="col-6" >
        <ion-select mode="ios" [value]="summaryForm?.controls?.ShiftName?.value" placeholder="Select One"  [interfaceOptions]="customAlertOptions" interface="alert"
        (ionChange)="ShiftDropdownSelected($event)">
        <ion-select-option *ngFor="let item of getShiftListsData" [value]="item?.ShiftName">{{item?.ShiftName}}
        </ion-select-option>
        </ion-select>

      </div>

      <div class="col-6">
        <div class="calender-area">
          <ion-icon slot="end" (click)="showDate()" name="calendar-outline"></ion-icon>
        </div>
      </div>
    </div>
  </div>

  <div class="m-1 summary-area">

    <div class="flex mt-2 nk-sum-card-row">
      <div class="nk-sum-card flex4">
        <div class="summary-card-header">OLE (%)</div>
        <div class="summary-card-body">{{getSummaryDetailData?.OLE}}</div>
      </div>
      <div class="nk-line-hr flex1">
        <div class="nk-sum-hr"></div>
      </div>
      <div class="nk-sum-card flex4">
        <div class="summary-card-header">TARGET</div>
        <div class="summary-card-body">{{getSummaryDetailData?.Planned}}</div>
      </div>
    </div>
    <div class="nk-line-vr">
      <div class="nk-sum-vr"></div>
      <div class="nk-sum-vr"></div>
    </div>

    <div class="flex mt-2 nk-sum-card-row">
      <div class="nk-sum-card flex2">
        <div class="summary-card-header">A (%)</div>
        <div class="summary-card-body">{{getSummaryDetailData?.Availability}}</div>
      </div>
      <div class="nk-line-hr flex1">
        <div class="nk-sum-hr"></div>
      </div>
      <div class="nk-sum-card flex2">
        <div class="summary-card-header">P (%)</div>
        <div class="summary-card-body">{{getSummaryDetailData?.Performance}}</div>
      </div>
      <div class="nk-line-hr  flex1">
        <div class="nk-sum-hr"></div>
      </div>
      <div class="nk-sum-card  flex2">
        <div class="summary-card-header">Q (%)</div>
        <div class="summary-card-body">{{getSummaryDetailData?.Quality}}</div>
      </div>
    </div>
    <div class="nk-line-vr">
      <div class="nk-sum-vr"></div>
      <div class="nk-sum-vr"></div>
    </div>

    <div class="flex mt-2 nk-sum-card-row">
      <div class="nk-sum-card flex4">
        <div class="summary-card-header"> &nbsp;Runtime &nbsp;(Hrs.)</div>
        <div class="summary-card-body">{{getSummaryDetailData?.RunTime}}</div>
      </div>
      <div class="nk-line-hr flex1">
        <div class="nk-sum-hr"></div>
      </div>
      <div class="nk-sum-card flex4">
        <div class="summary-card-header">&nbsp;Downtime &nbsp;(Hrs.)</div>
        <div class="summary-card-body">{{getSummaryDetailData?.DownTime}}</div>
      </div>
    </div>
    <div class="nk-line-vr">
      <div class="nk-sum-vr"></div>
      <div class="nk-sum-vr"></div>
    </div>

    <div class="flex mt-2 nk-sum-card-row">
      <div class="nk-sum-card flex4">
        <div class="summary-card-header">Loss of oppurtunity (Axles)</div>
        <div class="summary-card-body">{{getSummaryDetailData?.LossofOpportunity}}</div>
      </div>
      <div class="nk-line-hr flex1">
        <div class="nk-sum-hr"></div>
      </div>
      <div class="nk-sum-card flex4">
        <div class="summary-card-header">book out count</div>
        <div class="summary-card-body">{{getSummaryDetailData?.BookOut}}</div>
      </div>
    </div>
    <div class="nk-line-vr">
      <div class="nk-sum-vr"></div>
      <div class="nk-sum-vr"></div>
    </div>

    <div class="flex mt-2 nk-sum-card-row">
      <div class="nk-sum-card flex4">
        <div class="summary-card-header">Actuals</div>
        <div class="summary-card-body">{{getSummaryDetailData?.Actual}}</div>
      </div>
      <div class="nk-line-hr flex1">
        <div class="nk-sum-hr"></div>
      </div>
      <div class="nk-sum-card flex4">
        <div class="summary-card-header">Rejection</div>
        <div class="summary-card-body">{{getSummaryDetailData?.Rejected}}</div>
      </div>
    </div>

  </div>

</ion-content>