.calender-area {
  height: 100%;
  font-size: 30px;
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

ion-select {
  background: #d4d0d0;
  border-radius: 20px;
  font-weight: bold;
  color: black;
}
.nk-sum-card-row{
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
  }
.nk-sum-card{
      text-align: center;
      .summary-card-header {
        font-size: var(--ion-font-size-body);
        color: var(--ion-color-primary);
        font-family: var(--ion-font-family-header);
        font-weight: bold;
        padding: 2px;
        text-transform: capitalize;
      }
      
      .summary-card-body{
        font-size: var(--ion-font-size-body);
        font-family: var(--ion-font-family);
        color: #838383;        
      }
}

.nk-line-hr{
  display: flex;
  justify-content: center;
  align-items: center;
}
.nk-sum-hr{
  height: 85%;
  width: 2px;
  background-color: #707070;
  opacity: 30%
}
.nk-line-vr{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 5px;
}
.nk-sum-vr{
  width: 50%;
  margin: 0px 22px;
  height: 2px;
  background-color: #707070;
  opacity: 30%;
}
