ion-content {
  --background: #00000033;
  background-color: #00000033;
}
.nk-chart-header {
  padding: 5px;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  font-family: var(--ion-font-family-header);
}
.nk-chart-wrapper {
  border-radius: 4px;
  background-color: #272d3b;
}
