<ion-header>
  <ion-toolbar class="ion-toolbar-header-bg">
    <ion-buttons slot="start">
      <ion-back-button mode="ios" text=""></ion-back-button>
    </ion-buttons>
    <div class="nk-toolbar-title" slot="secondary">Post Assembly Details </div>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <!-- <canvas #barChart></canvas> -->
  <div class="m-2 mt-3 nk-chart-wrapper" *ngFor="let item of traceabilityChartData;let i = index;">
    <div class="text-center nk-chart-header" >{{item?.label}}</div>
    <canvas baseChart 
        [datasets]="item?.ChartDataSets" 
        [labels]="item?.chartLabels" 
        [options]="lineChartOptions" 
        [colors]="lineChartColors" 
        [chartType]="lineChartType" 
        [legend]="false"
        [style.max-width]="'95%'"
        [style.min-width]="'95%'"
        >
    </canvas>
</div>
<div *ngIf="traceabilityChartData?.length <=0">
  <div class="text-center">
    No Data
  </div>
</div> 
</ion-content> 