<div class="nk-progress-bar">

  <div class="nk-progress-bar-label-area">

    <div class="nk-progress-bar-label"> {{label}}</div>

    <div class="nk-progress-bar-label-value"> {{percentage}} %</div>

  </div>

  <div class="nk-progress-bar-area">

    <div class="nk-progress-bar-outer" [style.height]="height + 'px'" [style.background-color]="color"></div>

    <div class="nk-progress-bar-inner" [style.height]="height + 'px'" [style.background-color]="color"
      [style.width]="percentage + '%'"></div>

  </div>


</div>