.nk-progress-bar {
  width: 100%;
  height: auto;

  .nk-progress-bar-label-area {
    display: flex;
    justify-content: space-between;
    .nk-progress-bar-label,
    .nk-progress-bar-label-value {
      color: #000000;
      font-family: var(--ion-font-family);
      font-size: 10px;
      font-weight: 700;
    }
  }

  .nk-progress-bar-area {
    position: relative;

    .nk-progress-bar-outer {
      height: 10px;
      width: 100%;
      opacity: 25%;
      border-radius: 10px;
      position: absolute;
    }
    .nk-progress-bar-inner {
      height: 10px;
      width: 100%;
      border-radius: 10px;
      transition: all 1s ease-in;
    }
  }
}

// // OLD ::
// .percentageBarWithContent{
//     display: flex;
//     flex-direction: column;
//     min-height: 50px;
//     min-width: 200px;
//     width: fit-content;
//     // border: 1px solid black;
//     padding: 10px;
// }
// .content{
//     display: flex;
//     justify-content: space-between;
// }
// .outerDiv{
//     // height: 10px;
//     width: 200px;
//     // border: 1px dotted;
//     border-radius: 10px;
// }
// .innerDiv{
//     height: 100%;
//     // width: 95%;
//     // background-color: green;
//     border-radius: 10px;
// }
// .round{
//     height: 100px;
//     width: 100px;
//     border: 1px black;
//     border-style:double;
//     border-width: 5px;
// }
