<ion-header>
  <ion-toolbar mode="ios" class="ion-toolbar-header-bg">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
    <ion-icon slot="end" name="notifications" (click)="navigateToNotification()" [routerLink]="['/notification']" routerDirection="forward"> </ion-icon>
    <div class="header-badge-area" [routerLink]="['/notification']">
      <ion-badge id="notifications-badge" color="danger">{{getNotificationListCount}}</ion-badge>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher  slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content> </ion-refresher-content>
  </ion-refresher>

  <div class="home-wrapper">
    <div class="home-page-factory-image-area">
      <ion-img src="../../../assets/image/ic_plant.png" alt="ic_plant"></ion-img>
    </div>
    <div class="row mt-2 ion-padding">

      <div class="col-4 ic-plant-card " *ngFor="let mechineList of getMechineListData;let i=index;"
        (click)="navigateMechineList(mechineList)">
        <div class="header-card " [class.danger]="mechineList?.MachineStatus == false"
          [class.success]="mechineList?.MachineStatus == true">
          <div class="head-card-num">{{i + 1}}</div>
          <div class="head-card-title">{{mechineList?.MahineDisplayName}}</div>
        </div>
      </div>

    </div>

    <div class=" m-2 ion-padding pb-0">
      <div class="nk-card p-2 row">

        <div class="col-6 pb-2">
          <div class="calculation-head">{{getMechineDataList?.ShiftName}}</div>
        </div>
        <div class="col-6 pb-2">
          <div class="calculation-head">{{getMechineDataList?.ShiftDate | dateFormat}}</div>
        </div>

        <div class="col-6">
          <div class="calculation">
            <div class="calculation-header">Daily plan (Nos)</div>
            <div class="calculation-body">{{getMechineDataList?.DailyPlan}}</div>
          </div>
        </div>

        <div class="col-6">
          <div class="calculation">
            <div class="calculation-header">Daily actual (Nos)</div>
            <div class="calculation-body">{{getMechineDataList?.DailyActual}}</div>
          </div>
        </div>
        <div class="col-6">
          <div class="calculation">
            <div class="calculation-header">Pro - Rata</div>
            <div class="calculation-body">{{getMechineDataList?.ProrataActual}} / {{getMechineDataList?.ProrataTarget}}
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="calculation">
            <div class="calculation-header">Asking Rate</div>
            <div class="calculation-body">{{getMechineDataList?.AskingRate}}</div>
          </div>
        </div>

        <div class="col-6">
          <div class="calculation" (click)="navigateRejection(getMechineDataList)">
            <div class="calculation-header">Rejection &nbsp;
              <div class="calculation-header-icon">
                <ion-icon name="contract-outline"></ion-icon>
              </div>
            </div>
            <div class="calculation-body">{{getMechineDataList?.RejectionCount}}</div>
          </div>
        </div>

        <div class="col-6">
          <div class="calculation" (click)="navigateDowntime(getMechineDataList)">
            <div class="calculation-header">Downtime &nbsp;
              <div class="calculation-header-icon">
                <ion-icon name="contract-outline"></ion-icon>
              </div>
            </div>
            <div class="calculation-body">{{getMechineDataList?.DownTime}}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="m-2">
      <div class="head-title">Plant Performance</div>
      <div class="nk-card text-center  ion-padding">
        <div class="flex align-center">
          <div class="mt-2">
            <nk-progress-circle value='{{getPlantPerformanceData?.OLE}}' strokeColor="red" strokeWidth="10" width="80"
              height="80" radius="30" textValue="OLE"></nk-progress-circle>
            <div class="text-center nk-per-value">{{getPlantPerformanceData?.OLE}}%</div>
          </div>
          <div class="wd-100 flex flex-column p-2">
            <nk-percentage-bar class="mt-1" percentage='{{getPlantPerformanceData?.Availability}}' label="Availability"
              color="#E1342F"></nk-percentage-bar>
            <nk-percentage-bar class="mt-1" percentage='{{getPlantPerformanceData?.Performance}}' label="Performance"
              color="#FFBA3A"></nk-percentage-bar>
            <nk-percentage-bar class="mt-1" percentage='{{getPlantPerformanceData?.Quality}}' label="Quality"
              color="#4F7942"></nk-percentage-bar>
          </div>
        </div>
        <!-- Plant Performance Goes here -->
      </div>
    </div>

  </div>
</ion-content>