.home-page-factory-image-area {
  ion-img,
  img {
    min-width: 100%;
    max-width: 100%;
    max-height: 200px;
  }
}


.ic-plant-card{
  padding: 0px 5px;
}

.header-card {
  background-color: var(--ion-bg-color-white);
  color: var(--ion-color-primary);
  text-transform: capitalize;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  // border: 1px solid var(--ion-color-primary);
  min-height: 55px;
  max-height: 55px;
  min-width: 70px;
  padding: 2px 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  div:nth-child(1) {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  font-size: 10px;
  font-family : var(--ion-font-family);
  }
  .head-card-title {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    word-break: break-word;
    flex-wrap: wrap;
    font-size: 11px;
  font-family : var(--ion-font-family-secondary);
  }
}

.head-card-num{
  font-size: 10px;
}

.header-card.success {
  border: 3.5px solid var(--ion-color-success, #478B44);
  box-shadow: 0px 1px 3px ;
}

.header-card.danger {
  border: 3.5px solid var(--ion-color-danger, red);
  box-shadow: 0px 1px 3px;
}

  .calculation-head{
    text-align: center;
    color: var(--ion-color-primary);
    font-family : var(--ion-font-family-header);
    font-size: var(--ion-font-size-sub-header);
  }

.calculation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 5px; 


  .calculation-header {
    color: #7E3533;
    font-size: var(--ion-font-size-sub-header);
  }
  .calculation-header-icon {
    display: inline-flex;
    font-size: 15px;
    color: #000000;
    vertical-align: middle;
  }

  .calculation-body{
      color: #838383;
    font-size: var(--ion-font-size-xs);

  }
}

.head-title{
  font-family: var(--ion-font-family);
  color: black;
  font-size: var(--ion-font-size-body,15px);
}
.nk-per-value{
  font-size: 10px;
}