<ion-header>
  <ion-toolbar class="ion-toolbar-header-bg">
    <ion-buttons slot="start">
      <ion-back-button mode="ios" text=""></ion-back-button>
    </ion-buttons>
    <ion-title slot="secondary" class="pl-5">{{ currentActiveItem?.MahineDisplayName || 'Production-Performance'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-refresher  slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content> </ion-refresher-content>
  </ion-refresher>

  <div class="perform-wrapper ion-padding">
    <div class="row">
      <div class="col-6">
        <ion-select mode="ios" [value]="productionPerformanceForm?.controls?.ShiftName?.value" placeholder="Select One" [interfaceOptions]="customAlertOptions" interface="alert"
        (ionChange)="ShiftDropdownSelected($event)">
        <ion-select-option *ngFor="let item of getShiftListsData" [value]="item?.ShiftName">{{item?.ShiftName}}
        </ion-select-option>
        </ion-select>
      </div>

      <div class="col-6">
        <div class="calender-area">
          <ion-icon slot="end" (click)="showDate()" name="calendar-outline"></ion-icon>
        </div>
      </div>
    </div>
  </div>

  <div class="">
    <div class="text-center">
      <nk-progress-circle [textStyle]="{'font-size':'13px','top':'45%'}" value="{{productionPerformanceData?.Performance}}" strokeWidth="12" strokeColor="{{productionPerformanceData?.PerfromanceColour}}"
        width="160" height="160" radius="65" textValue="PERFORMANCE" ></nk-progress-circle>
      <div class="text-center nk-per-value">{{productionPerformanceData?.Performance}} %</div>
    </div>
    <div>
      <ion-card class="nk-perform-card">
        <ion-card-content class="card-per">
          <div class="row">
            <div class="col-6 text-center">
              <div class="card-head-per">PLANNED</div>
              <div class="card-body-per">{{productionPerformanceData?.PlannedCount}}</div>
            </div>
            <div class="col-6 text-center">
              <div class="card-head-per">ACTUAL</div>
              <div class="card-body-per">{{productionPerformanceData?.ActualCount}}</div>
            </div>
            <div class="col-12 text-center pt-2 mt-2">
              <div class="card-head-per">LOSS OF OPPORTUNITY (Axles)</div>
              <div class="card-body-per">{{productionPerformanceData?.LossOfOpportunity}}</div>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </div>

    <div class="center-label">
      <div class="center-label-content">Hourly production</div>
    </div>
    <div class="row bottom-card-header pt-2">
      <div class="col-4">time</div>
      <div class="col-3">accepted </div>
      <div class="col-2">rejected </div>
      <div class="col-3">target</div>
    </div>
    <div class="row bottom-card-body m-2" *ngFor="let item of getHourlyProtectionData;let i = index" >
      <div class="col-4">{{item?.HourlyDate | time:"hh:mm"}} - {{item?.HourlyEndTime | time:"hh:mm"}}</div>
      <div class="col-3">{{item?.AcceptedPart}}</div>
      <div class="col-2">{{item?.RejectedPart}}</div>
      <div class="col-3">{{item?.TotalTarget}}</div>
    </div>
    <div *ngIf="getHourlyProtectionData?.length <=0">
      <div class="text-center">
        No Data
      </div>
    </div>
  </div>

</ion-content>