.calender-area {
    height: 100%;
    font-size: 30px;
    justify-content: flex-end;
    display: flex;
    align-items: center;
  }
  
.nk-perform-card {
  box-shadow: 1px 1px 2px #00000055;
  background: #dedede;
  border-radius: 9px;

  .card-head-per {
    font-size: 12px;
    font-family: var(--ion-font-family-header);
    color: #872e2d;
    text-transform: uppercase;
  }

  .card-body-per {
    font-size: 12px;
    color: #000000;
    font-family: var(--ion-font-family);
  }
}

.bottom-card-header {
    
  display: flex;
  align-items: center; 
  text-transform: uppercase;
  text-align: center;
  font-size: 10px;
  color: #000000;
  font-family: var(--ion-font-family-header);
}

.bottom-card-body {
  font-family: var(--ion-font-family);
  box-shadow: 1px 1px 2px #00000055;
  background-color: #dedede;
  border-radius: 9px;
  font-size: 10px;
  height: 30px;
  display: flex;
  align-items: center;
}

ion-select {
  background: #d4d0d0;
  border-radius: 4px;
  font-weight: bold;
  color: black;
  .select-icon{
    .select-icon-inner{
      color: #000000 !important;
      opacity: 100% !important;
    }
  }
}