<ion-header>
  <ion-toolbar mode="ios" class="ion-toolbar-header-bg">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title slot="secondary" class="pl-5"> Analytics {{currentActiveMenu ? '(' + currentActiveMenu+ ')' : ''}}
    </ion-title>
    <div class="analytics-icon" slot="end" (click)="toggleMenu()">
      <ion-icon name="options-outline"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="menu-Active-overflow" *ngIf="menuActive" (click)="closeMenu($event)">
    <div class="nk-menu-drop-down-area">
      <div class="nk-menu-drop-down-area-items" (click)="setActiveMenu('Hourly')">Hourly</div>
      <div class="nk-menu-drop-down-area-line-area">
        <div class="nk-menu-drop-down-area-lines"> </div>
      </div>
      <div class="nk-menu-drop-down-area-items" (click)="setActiveMenu('Machine')">Machine</div>
    </div>
  </div>

  <div *ngIf="currentActiveMenu == 'Hourly'">

    <div class="analytics-wrapper ion-padding">
      <div class="row">
        <!-- <div class="col-6 nk-analytics-dropdown">
          <ion-select value="1" mode="ios" placeholder="Select One"   [interfaceOptions]="customAlertOptions" interface="alert" >
            <ion-label>Select One</ion-label>
            <ion-select-option value="1">SHIFT 1</ion-select-option>
            <ion-select-option value="2">SHIFT 2</ion-select-option>
          </ion-select>

        </div> -->

        <div class="col-6">
          <ion-select mode="ios" [value]="analyticsForm?.controls?.ShiftName?.value" placeholder="Select One"
            [interfaceOptions]="customAlertOptions" interface="alert" (ionChange)="ShiftDropdownSelected($event)">
            <ion-select-option *ngFor="let item of getShiftListsData" [value]="item?.ShiftName">{{item?.ShiftName}}
            </ion-select-option>
          </ion-select>

        </div>
        <div class="col-6">
          <div class="calender-area">
            <ion-icon slot="end" (click)="showDate()" name="calendar-outline"></ion-icon>
          </div>
        </div>
      </div>
    </div>

    <div class="m-2">
      <div class="text-center nk-chart-header m-2">Hourly Production</div>
      <div class="p-3 nk-chart-wrapper" *ngIf="hourlyChartData">
        <canvas baseChart [datasets]="hourlyChartData" [labels]="hourlyChartLabels" [options]="lineChartOptions"
          [chartType]="lineChartType" [legend]="true" [style.max-width]="'95%'" [style.min-width]="'95%'">
        </canvas>
      </div>
    </div>

    <div class="m-2">
      <div class="text-center nk-chart-header m-2">Hourly Downtime <span style="text-transform: lowercase;"> (min)</span>
      </div>
      <div class="p-3 nk-chart-wrapper" *ngIf="hourlyProductionChartData">
        <canvas baseChart [datasets]="hourlyProductionChartData" [labels]="hourlyChartLabels"
          [options]="lineChartOptions" [chartType]="lineChartType" [legend]="true" [style.max-width]="'95%'"
          [style.min-width]="'95%'">
        </canvas>
      </div>
    </div>


    <div class="nk-prod-avail-downtime mt-3">
      <div class="nk-prod-avail-downtime-head">
        TOP 5 DOWNTIME REASONS
      </div>
      <div class="nk-prod-avail-downtime-duration">
        Duration
      </div>
      <div class="nk-prod-avail-downtime-list" *ngIf="getTopDowntimeReasonsData">
        <ion-card class="nk-prod-avail-card mt-2 mb-2" *ngFor="let item of getTopDowntimeReasonsData;let i = index;">
          <ion-card-content class="">
            <div class="col-2   text-left">{{i +1}}</div>
            <div class="col-6 text-left">{{item?.Alert}}</div>
            <div class="col-4  text-right">{{item?.Durationin_Hrs}}</div>
          </ion-card-content>
        </ion-card>
      </div>
    </div>

  </div>

  <div class="" *ngIf="currentActiveMenu == 'Machine'">

    <div class="analytics-wrapper m-3">
      <div class="row">
        <div class="col-4 nk-analytics-dropdown">
          <ion-select (ionChange)="getMachineShiftListsByMechine($event)"
            [value]='analyticsMachineForm?.controls?.MahineDisplayName?.value' mode="ios" placeholder="Select One"
            [interfaceOptions]="customAlertOptions" interface="alert">
            <ion-label>Select One</ion-label>
            <ion-select-option *ngFor="let item of analyticsDDList;let i=index" [value]="item?.MahineDisplayName">
              {{item?.MahineDisplayName}}
            </ion-select-option>
          </ion-select>
        </div>

        <div class="col-4 nk-analytics-dropdown">
          <ion-select [value]="analyticsMachineForm?.controls?.ShiftName?.value" mode="ios" placeholder="Select One"
            [interfaceOptions]="customAlertOptions" interface="alert"
            (ionChange)="MachineShiftDropdownSelected($event)">
            <ion-select-option *ngFor="let item of getMachineShiftListsData" [value]="item?.ShiftName">
              {{item?.ShiftName}}</ion-select-option>
          </ion-select>
        </div>

        <div class="col-2">
          <div class="calender-area">
            <ion-icon slot="end" (click)="showMachineStartDate()" name="calendar-outline"></ion-icon>
          </div>
        </div>

        <div class="col-2">
          <div class="calender-area">
            <ion-icon slot="end" (click)="showMachineEndDate()" name="calendar-outline"></ion-icon>
          </div>
        </div>
      </div>
    </div>


    <div class="nk-analytics-machine-subheader">
      <ion-segment color="secondary" mode="md" value="Production" (ionChange)="segmentChanged($event)"
        class="nk-segment-label">
        <ion-segment-button value="Production">
          <ion-label>Production</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Downtime">
          <ion-label>Downtime</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>

    <div *ngIf="currentSegment == 'Production'">
      <div class="m-2">
        <div class="text-center nk-chart-header m-2">production count</div>
        <div class="p-3 nk-chart-wrapper" *ngIf="analyticsProductionCountData">
          <canvas baseChart [datasets]="analyticsProductionCountData" [labels]="mechineProductionCountChartLabels"
            [options]="lineChartOptions" [chartType]="lineChartType" [legend]="true" [style.max-width]="'95%'"
            [style.min-width]="'95%'">
          </canvas>
        </div>
      </div>


      <div class="m-2" *ngFor="let item of OLEandAPQChartData;let i = index">
        <div class="text-center nk-chart-header m-2">{{item?.label}} ( % )</div>
        <div class="p-3 nk-chart-wrapper">
          <canvas baseChart [datasets]="item?.ChartDataSets" [labels]="item?.chartLabels" [options]="lineChartOptions"
            [colors]="item?.color" [chartType]="lineChartType" [legend]="false" [style.max-width]="'95%'"
            [style.min-width]="'95%'">
          </canvas>
        </div>
      </div>



    </div>


    <div *ngIf="currentSegment == 'Downtime'">
      <div>
        <div class="m-2">
          <div class="text-center nk-chart-header m-2">RUNTIME V/S DOWNTIME <span
              style="text-transform: lowercase;"> (min)</span></div>
          <div class="p-3 nk-chart-wrapper" *ngIf="mechineRunTimeDownTimeChartData">
            <canvas baseChart [datasets]="mechineRunTimeDownTimeChartData" [labels]="mechineRunTimeDownTimeChartLabels"
              [options]="lineChartOptions" [chartType]="lineChartType" [legend]="true" [style.max-width]="'95%'"
              [style.min-width]="'95%'">
            </canvas>
          </div>
        </div>

        <div class="m-2">
          <div class="text-center nk-chart-header m-2">{{pieChartHeadLabel}}</div>
          <div class="p-3 nk-chart-wrapper">
            <canvas baseChart [chartType]="'pie'" [datasets]="pieChartData" [labels]="pieChartLabels"
              [options]="pieChartOptions" [legend]="false" [colors]="pieChartColors" [style.max-width]="'95%'"
              [style.min-width]="'95%'">
            </canvas>
          </div>
        </div>


        <div class="nk-prod-avail-downtime mt-3" *ngIf="getTopMechineDowntimeReasonsData">
          <div class="nk-prod-avail-downtime-head">
            TOP 5 DOWNTIME REASONS
          </div>
          <div class="nk-prod-avail-downtime-duration">
            Duration
          </div>
          <div class="nk-prod-avail-downtime-list">
            <ion-card class="nk-prod-avail-card mt-2 mb-2"
              *ngFor="let item of getTopMechineDowntimeReasonsData;let i = index;">
              <ion-card-content class="">
                <div class="col-2   text-left">{{i +1}}</div>
                <div class="col-6 text-left">{{item?.Reason}}</div>
                <div class="col-4  text-right">{{item?.Duration}}</div>
              </ion-card-content>
            </ion-card>
          </div>
        </div>

      </div>

    </div>

  </div>


</ion-content>