.calender-area {
  height: 100%;
  font-size: 30px;
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

.menu-Active-overflow {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.nk-menu-drop-down-area {
  padding: 10px 15px;
  position: absolute;
  top: 60px;
  right: 3px;
  background-color: #d9d9d9;
  background-color: #ffffff;
  z-index: 4;
  border-radius: 7px;
  font-size: 15px;
  .nk-menu-drop-down-area-line-area {
    text-align: center;
    .nk-menu-drop-down-area-lines {
      margin: 1px 5px;
      width: 95%;
      background: #c2c2c2;
      height: 1px;
    }
  }
  .nk-menu-drop-down-area-items {
    cursor: pointer;
    font-family: var(--ion-font-family);
    color: #000000;
    padding: 5px 1px;
  }
}

ion-select {
  background: #d4d0d0;
  border-radius: 4px;
  font-weight: bold;
  color: black;
  .select-icon{
    .select-icon-inner{
      color: #000000 !important;
      opacity: 100% !important;
    }
  }
}

.nk-chart-header {
  font-size: 15px;
  color: #000000;
  font-family: var(--ion-font-family-header);
  height: 20px;
  text-align: center;
  text-transform: uppercase;
  padding: 1px;
}
.nk-chart-wrapper{
  background-color: #272D3B;
  border-radius: 4px;
  box-shadow: #00000055 1px 1px 2px;
}
.center-list-item {
  text-align: center;
  color: #872e2d;
  font-family: var(--ion-font-family-header);
  font-size: 10px;
}

.nk-prod-avail-downtime-head {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #872e2d;
  font-size: 10px;
  font-family: var(--ion-font-family-header);
}
.nk-prod-avail-downtime-duration {
  padding-right: 10px;
  text-align: end;
  font-size: 10px;
  color: #000000;
  font-family: var(--ion-font-family);
}
.nk-prod-avail-downtime-list {
  padding: 0px 10px 10px 10px;
}
.nk-analytics-machine-subheader{
  background-color: #272D3B;
  font-size: 14px;
  font-family: var(--ion-font-family);
  text-transform: uppercase;
  // color: #FFFFFF;
  ion-segment{
    --ion-color-secondary: #FFFFFF;
    --ion-border-color:#FFFFFF;
    ion-segment-button{
      ion-label{
        color: #FFFFFF;
        opacity: 25%;
      }
    }
    ion-segment-button.segment-button-checked{
      ion-label{
        color: #FFFFFF;
        opacity: 100%;
      }
    }
  }
}
.nk-analytics-dropdown{
  border-radius: 4px;
}

