<ion-header>
  <ion-toolbar class="ion-toolbar-header-bg">
    <ion-buttons slot="start">
      <ion-back-button mode="ios" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Notification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher  slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content> </ion-refresher-content>
  </ion-refresher>
  <div class="row">

    <div class="col-4 pt-4">
      <div class="calculation-head">{{NotificationListHeader?.ShiftName}}</div>
    </div>
    <div class="col-4 pt-4">
      <div class="calculation-head">{{NotificationListHeader?.ShiftDate  }}</div>
    </div>
    <div class="col-4 pt-4">
      <div class="clear-all" (click)="clearAll()" *ngIf="getNotificationListData?.length >0">Clear All</div>
    </div>
  </div>

  <div class="notification-area">
    <div class="notification-content" *ngFor="let item of getNotificationListData;let i = index">
      <img src="../../../assets/image/danger.png" alt="danger" *ngIf="item?.Type == 1">
      <img src="../../../assets/image/alert.png" alt="danger" *ngIf="item?.Type == 0">
      <div class="notification-time">{{item?.NotificationTime | time:'hh:mm'}}</div>
      <div class="notification-title">{{item?.Message}}</div>
      <ion-icon name="close-circle-outline" (click)="clearNotification(item)"></ion-icon>
    </div>
    <div *ngIf="getNotificationListData?.length <=0">
      <div class="text-center">
        No Data
      </div>
    </div>
  </div>

</ion-content>