.clear-all {
  text-transform: capitalize;
  font-size: 13px;
  font-family: var(--ion-font-family-header);

}

.notification-content{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 5px;
    margin: 15px 10px;
    border-radius: 6px;
    font-size: var(--ion-font-size-small);
    background-color: #E1E1E1;
    color : #5A5A5A;

    ion-icon{
        font-size: var(--ion-font-size-xxl);
    }
    .notification-title{
        min-width: 160px;
        max-width: 160px;
        max-width: 160px;
    }
}
.calculation-head{
    text-align: center;
    color: var(--ion-color-primary);
    font-family : var(--ion-font-family-header);
    font-size: var(--ion-font-size-sub-header);
  }