.ion-layout-menu-header {
  font-family: var(--ion-font-family-header);
  background-color: var(--ion-color-primary);
  color: var(--ion-font-color-white);
  padding: 5px 10px;

  .header {
    font-size: var(--ion-font-size-header);
  }
  .name {
    font-family: var(--ion-font-family-body);
    font-size: var(--ion-font-size-body, 16px);
  }
}

ion-item {
  font-weight: bold;
}

ion-item.selected {
  --background-activated: #ced4da;
  --background: #ced4da;
  background: #ced4da;
  color: var(--ion-font-color-white);
  font-weight: bold;
}
