<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <div class="ion-layout-menu-header pt-2">
          <div class="imag-area">
            <img src="../../../assets/image/ic_meritor.png" alt="logo" style="height: 60px; min-width: 100px;width:auto">
          </div>
          <div class="header  pt-2">{{userData?.UserName || ''}}</div>
          <div class="name ">{{userData?.Designation || ''}}</div>
        </div>

        <ion-list id="inbox-list">

          <ion-menu-toggle auto-hide="false" [style.display]="homeActive">
            <ion-item routerLink="/layouts/home" lines="none" detail="false" routerDirection="root"
              routerLinkActive="selected">
              <ion-icon slot="start" name="home-outline"></ion-icon>
              <ion-label>Home</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false" [style.display]="productionActive">
            <ion-item routerLink="/layouts/production" lines="none" detail="false" routerDirection="root"
              routerLinkActive="selected">
              <ion-icon slot="start" name="construct-outline"></ion-icon>
              <ion-label>Production</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false" [style.display]="conditionActive">
            <ion-item routerLink="/layouts/condition-monitoring" lines="none" detail="false" routerDirection="root"
              routerLinkActive="selected">
              <ion-icon slot="start" name="desktop-outline"></ion-icon>
              <ion-label>Condition Monitoring</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false" [style.display]="traceActive">
            <ion-item routerLink="/layouts/traceability" lines="none" detail="false" routerDirection="root"
              routerLinkActive="selected">
              <ion-icon slot="start" name="locate-outline"></ion-icon>
              <ion-label>Traceability</ion-label>
            </ion-item>
          </ion-menu-toggle>


          <ion-menu-toggle auto-hide="false" [style.display]="analyticsActive">
            <ion-item routerLink="/layouts/analytics" lines="none" detail="false" routerDirection="root"
              routerLinkActive="selected">
              <ion-icon slot="start" name="stats-chart-outline"></ion-icon>
              <ion-label>Analytics</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false" [style.display]="planningActive">
            <ion-item routerLink="/layouts/planning" lines="none" detail="false" routerDirection="root"
              routerLinkActive="selected">
              <ion-icon slot="start" name="bulb-outline"></ion-icon>
              <ion-label>Planning</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false" [style.display]="summaryActive">
            <ion-item routerLink="/layouts/summary" lines="none" detail="false" routerDirection="root"
              routerLinkActive="selected">
              <ion-icon slot="start" name="document-text-outline"></ion-icon>
              <ion-label>Summary</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false" [style.display]="logoutActive">
            <ion-item (click)="logout()" lines="none" detail="false" routerDirection="root" routerLinkActive="selected">
              <ion-icon slot="start" name="log-out-outline"></ion-icon>
              <ion-label>Logout</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-content>