.nopath-toolbar {
  --background: white;
  background-color: white;
  color: #000000;
  font-size: 10px;
  font-family: var(--ion-font-family-header);
  box-shadow: 3px 3px 6px #00000047;
  text-align: center;
  ion-title {
    background-color: white;
    color: #000000;
    font-size: 9px;
    font-family: var(--ion-font-family-header);
    text-transform: uppercase;
  }
}

.nopath-side-card {
  background-color: #c5c5c5;
  border-radius: 8px;
  color: #000000;
  font-family: var(--ion-font-family-header);
  height: 100%;
  text-align: center;
  text-orientation: mixed;
  font-size: 8px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  .nopath-side-card-content {
    text-transform: uppercase;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }
}

.nopath-card {
  height: 100%;
  font-family: var(--ion-font-family-header);

  .nopath-card-row {
    display: flex;
    align-items: center;
    background-color: #dedede;
    box-shadow: 3px 3px 6px #00000047;
    border-radius: 6px;
    min-height: 25px;
    text-transform: uppercase;
    color: #000000;
  }
  .nopath-card-row.danger{
    box-shadow: 0px 1px 2px #00000055;
    border-radius: 9px;
    border: 8px solid #872E2D;
  }
  .nopath-card-row.warning{
    box-shadow: 0px 1px 2px #00000055;
    border-radius: 9px;
    border: 8px solid #F7D83B;
  }
}
.header-end{
  font-size: 12px;
  display: flex;
  flex-direction: column;
}
.header-end-title{
  font-size: 12px;
  min-width: 60px;
  color: #AFAFAF;
}
.header-end-number{
  font-size: 12px;
  color: #FFFFFF;
}
.header-end-content{
  display: flex;
}