<ion-header>
  <ion-toolbar class="ion-toolbar-header-bg">
    <ion-buttons slot="start">
      <ion-back-button mode="ios" text=""></ion-back-button>
    </ion-buttons>
    <div class="nk-toolbar-title" slot="secondary">{{title}} </div>
    <div slot="end" class="header-end">
      <div class="header-end-content">
        <div class="header-end-title">PLAN :</div>
        <div class="header-end-number">{{noPathCurrentCountData?.Plan}}</div>
      </div>
      <div class="header-end-content">
        <div class="header-end-title">Actual :</div>
        <div class="header-end-number">{{noPathCurrentCountData?.Actual}}</div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar class="nopath-toolbar">
    <div class="row align-center">
      <div class="col-3">station no.</div>
      <div class="col-3">Model</div>
      <div class="col-3">HSG Serial no. / NX Serial no.</div>
      <div class="col-3">HSG part no. / NX part no.</div>
    </div>
  </ion-toolbar>

  <div class="flex mt-2">
    <div class="m-1">
      <div class="nopath-side-card">
        <div class="nopath-side-card-content"> Zone 1</div>
      </div>
    </div>
    <div class="m-2 wd-100">
      <table class="wd-100 text-center nopath-card">
        <div class="nopath-card-row mt-2 mb-2" [class.danger]="item?.PartStatusCode  == 1"
          [class.warning]="item?.PartStatusCode  == 2" *ngFor="let item of noPathDataList1;let i=index">
          <!-- <tr > -->
          <td class="m-1 wd-10 font-8">{{item?.StationNo}}</td>
          <td class="m-1 wd-10 font-9">{{item?.Model}}</td>
          <td class="m-1 wd-60 font-9">{{item?.HSG_NX_SerialNo}}</td>
          <td class="m-1 wd-60 font-9">{{item?.HSG_NX_PartNo}}</td>
          <!-- </tr> -->
        </div>
      </table>
    </div>
  </div>

  <div class="flex mt-2">
    <div class="m-1">
      <div class="nopath-side-card">
        <div class="nopath-side-card-content"> Zone 2</div>
      </div>
    </div>
    <div class="m-2 wd-100">
      <table class="wd-100 text-center nopath-card">
        <div class="nopath-card-row mt-2 mb-2" [class.danger]="item?.PartStatusCode  == 1"
          [class.warning]="item?.PartStatusCode  == 2" *ngFor="let item of noPathDataList2;let i=index">
          <!-- <tr > -->
          <td class="m-1 wd-10 font-8">{{item?.StationNo}}</td>
          <td class="m-1 wd-10 font-9">{{item?.Model}}</td>
          <td class="m-1 wd-60 font-9">{{item?.HSG_NX_SerialNo}}</td>
          <td class="m-1 wd-60 font-9">{{item?.HSG_NX_PartNo}}</td>
          <!-- </tr> -->
        </div>
      </table>
    </div>
  </div>

  <div class="flex mt-2">
    <div class="m-1">
      <div class="nopath-side-card">
        <div class="nopath-side-card-content"> Zone 3</div>
      </div>
    </div>
    <div class="m-2 wd-100">
      <table class="wd-100 text-center nopath-card">
        <div class="nopath-card-row mt-2 mb-2" [class.danger]="item?.PartStatusCode  == 1"
          [class.warning]="item?.PartStatusCode  == 2" *ngFor="let item of noPathDataList3;let i=index">
          <!-- <tr > -->
          <td class="m-1 wd-10 font-8">{{item?.StationNo}}</td>
          <td class="m-1 wd-10 font-9">{{item?.Model}}</td>
          <td class="m-1 wd-60 font-9">{{item?.HSG_NX_SerialNo}}</td>
          <td class="m-1 wd-60 font-9">{{item?.HSG_NX_PartNo}}</td>
          <!-- </tr> -->
        </div>
      </table>
    </div>
  </div>

  <div class="flex mt-2">
    <div class="m-1">
      <div class="nopath-side-card">
        <div class="nopath-side-card-content"> Zone 4</div>
      </div>
    </div>
    <div class="m-2 wd-100">
      <table class="wd-100 text-center nopath-card">
        <div class="nopath-card-row mt-2 mb-2" [class.danger]="item?.PartStatusCode  == 1"
          [class.warning]="item?.PartStatusCode  == 2" *ngFor="let item of noPathDataList4;let i=index">
          <!-- <tr > -->
          <td class="m-1 wd-10 font-8">{{item?.StationNo}}</td>
          <td class="m-1 wd-10 font-9">{{item?.Model}}</td>
          <td class="m-1 wd-60 font-9">{{item?.HSG_NX_SerialNo}}</td>
          <td class="m-1 wd-60 font-9">{{item?.HSG_NX_PartNo}}</td>
          <!-- </tr> -->
        </div>
      </table>
    </div>
  </div>

</ion-content>