<ion-header>
  <ion-toolbar class="ion-toolbar-header-bg">
    <ion-buttons slot="start">
      <ion-back-button mode="ios" text=""></ion-back-button>
    </ion-buttons>
    <div class="nk-toolbar-title" slot="secondary">Rejection Details </div>
    <div slot="end">
      <div class="header-end-time">{{currentActiveItem?.RejectionCount}}</div>
      <div class="header-end-title"> Total </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="reasons-heading row mt-2">
    <div class="col-6">{{currentActiveItem?.ShiftName}}</div>
    <div class="col-6">{{currentActiveItem?.ShiftDate | time : 'DD-MM-YYYY'}}</div>
  </div>

  <div class="row m-2 pb-2">
    <div class="col-4 reasons-sub-heading"> Model</div>
    <div class="col-4 reasons-sub-heading"> nx / hsg part no.</div>
    <div class="col-4 reasons-sub-heading"> Rejected at</div>

    <div class="col-4 reasons-sub-heading"> Customer</div>
    <div class="col-4 reasons-sub-heading"> Nx / hsg Serial No.</div>
    <div class="col-4 reasons-sub-heading"> Reason</div>

    <div class="col-4 reasons-sub-heading"> Time</div>
    <div class="col-4 reasons-sub-heading">rejected BY</div>
    <div class="col-4 reasons-sub-heading"> </div>
  </div>

  <div class="nk-card m-2" *ngFor="let rejectionDetailData of getRejectionDetailDataList;let i = index;">
    <div class="nk-card-sno">{{i+1}}</div>
    <table class="reason-card row m-1 ">
      <tr class="row  wd-100 m-center">

        <td class="col-1"></td>
        <td class="col-3">{{rejectionDetailData?.SNo}}</td>
        <td class="col-4">{{rejectionDetailData?.NX_PartNo}} / {{rejectionDetailData?.HSG_PartNo}}</td>
        <td class="col-4" rowspan="3">{{rejectionDetailData?.Rejected_At}}</td>
      </tr>
      <tr class="row  wd-100 m-center">

        <td class="col-1"></td>
        <td class="col-3">{{rejectionDetailData?.Customer}}</td>
        <td class="col-4">{{rejectionDetailData?.NX_SerialNo}} / {{rejectionDetailData?.HSG_SerialNo}}</td>
        <td class="col-4">{{rejectionDetailData?.Rejected_Reason}}</td>
      </tr>
      <tr class="row wd-100 m-center">
        <td class="col-1"></td>
        <td class="col-3">{{rejectionDetailData?.Rejected_Time | time}}</td>
        <td class="col-4">{{rejectionDetailData?.Rejected_By}}</td>
        <td class="col-4"></td>
      </tr>
    </table>
  </div>

</ion-content>