.nk-card {
  background-color: #dedede;
  position: relative;
  .reason-card {
    background-color: #dedede;
  }

  .nk-card-sno {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #5b5b5b;
    color: #ffffff;
    font-family: var(--ion-font-family-header);
    font-size: 12px;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
  }
}
