.page-center {
  position: absolute;
  left: 16px;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.grouping {
  display: flex;
  border-radius: 20px;
  .icon-area {
    position: absolute;
    right: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    height: calc(1.5em + 0.75rem + 2px);
  }
}

input.form-control {
  border-radius: 20px;
}
.welcome-text{
font-size: 15px;
color: #484848;

}

.form-group{
  margin-top:20px; 
  margin-bottom:20px; 
}

.form-control{
 font-size: 15px;
}