<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="padding">

  <div class="page-center">

    <div class="user-login-form" [formGroup]="loginForm">
      <div class="text-center m-1">
        <img src="../../../assets/image/ic_logo.png" alt="logo" style="height: 100px; width: 100px;">
      </div>
      <div class="text-center m-3 welcome-text">Welcome Back</div>
      <div class="form-group">
        <!-- <label for="Username">Username</label> -->
        <input type="text" class="form-control" id="Username" formControlName="Username" placeholder="Username" autocomplete="one-time-code ">
      </div>
 
      <div class="form-group">
        <!-- <label for="exampleInputPassword1">Password</label> -->
        <div class="grouping">
          <input [type]="hidden ? 'password' : 'text'" class="form-control" formControlName="Password" placeholder="Password" id="exampleInputPassword1"  autocomplete="one-time-code">
          <div class="icon-area">
            <ion-icon *ngIf="hidden == false" (click)="hidden = !hidden"  src="https://www.flaticon.com/premium-icon/icons/svg/2782/2782930.svg" ></ion-icon>
            <ion-icon *ngIf="hidden == true" (click)="hidden = !hidden" name="eye-off"></ion-icon>
          </div>
        </div>
      </div>

      <div class="text-center"> 
        <!-- <ion-button  mode="md" color="secondary" shape="round" routerLink="/layouts"  routerDirection="root"> LOGIN</ion-button> -->
        <ion-button  mode="md" color="secondary" shape="round" (click)="login()"> LOGIN</ion-button>
      </div>
      <!-- <canvas id="myCanvas"></canvas> -->
    </div>
  </div>
</ion-content>