<div class="menu-Active-overflow" (click)="closeMenu($event)" *ngIf="dropdownList"></div>

<div class="nk-dropdown-area">
  <div class="nk-dropdown-head">
    <div class="nk-dropdown-content" (click)="arrowClick()">
      {{dropdownTitle}}
    </div>
    <div class="nk-dropdown-icon">
      <ion-icon name="chevron-forward-outline" style="color:#FFFFFF;position:absolute" *ngIf="forwardIcon"
        (click)="arrowClick()"></ion-icon>
      <ion-icon name="chevron-down-outline" style="color:#FFFFFF;position:absolute" *ngIf="downIcon"
        (click)="arrowClick()"></ion-icon>
    </div>
  </div>
  <div class="nk-dropdown-list" *ngIf="dropdownList">
    <ng-container *ngFor="let item of items;let i=index">
      <div *ngIf="dropdownTitle != item?.ProcessDisplayName  " class="nk-items" (click)="dropdownClick(item,i)">
        <div>
          {{item?.label ||item?.Name || item?.ProcessDisplayName  || item?.MahineDisplayName || item}}
        </div>
      </div>
    </ng-container>
  </div>
</div>