.nk-dropdown-area {
  min-height: 34px;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0px 0px 7px 7px;
  background-color: #d9d9d9;
  cursor: pointer;
  position: relative;
  z-index: 12;
}

.nk-dropdown-head {
  height: 34px;
  width: 100%;
  border-radius: 4px 4px 4px 4px;
  background-color: #272d3b;
  box-shadow: 1px 1px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nk-dropdown-content {
  height: 16px;
  width: 90%;
  font-size: 13px;
  font-family: var(--ion-font-family-header);
  color: #e2e2e2;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.nk-dropdown-icon {
  height: 16px;
  width: 10%;
  display: flex;
  justify-content: flex-end;
  margin-left: -25px;
}
.nk-dropdown-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: absolute;
  width: 100%;
  // background: #D9D9D9;
  background: #f3f1f1;
  top: 35px;
  border-radius: 0px 0px 7px 7px;
}
.nk-items {
  margin: 10px;
  color: #000000;
  font-family: var(--ion-font-family);
  font-size: 15px;
}

.menu-Active-overflow {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 10;
}
