@import '../../node_modules/ion-refresh-native/dist/scss/ion-refresh-native';

  .toast-container,
  .toast-content {
    .toast-message {
      --color: var(--ion-font-color-white);
      color: var(--ion-font-color-white);
    }
  }
