.nk-prod-dropdown-area {
  min-height: 30px;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0px 0px 7px 7px;
  background-color: #d9d9d9;
  position: relative;
  cursor: pointer;
  justify-content: center;
  z-index: 3;
}
.nk-prod-dropdown-head {
  height: fit-content;
  border-radius: 0px 0px 7px 7px;
  background-color: #d9d9d9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
.nk-prod-dropdown-content {
  height: 19px;
  font-size: 15px;
  font-family: var(--ion-font-family);
  color: #e2e2e2;
  display: flex;
  justify-content: flex-start;
  color: #000000;
}
.nk-prod-dropdown-icon {
  height: 16px;
  display: flex;
  justify-content: flex-end;
  padding-right: 5px;

}
.nk-prod-dropdown-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  width: 100%;
  background-color: #D9D9D9;
  top: 38px;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
}
.nk-prod-items {
  margin: 0px 10px;
  color: #000000;
  font-family: var(--ion-font-family);
  font-size: 15px;
  padding: 8px 0px;
  border-top: 1px solid #ccc;
}
.nk-prod-circles-area {
  // margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nk-prod-sub-circle {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.nk-prod-main-circle {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nk-per-value{
  font-size: 12px;
}

.nk-per-value-head{
  font-size: 20px;
}

.overflow-dd{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0,0,0,0.2);
  z-index: 1;
}