<ion-header>
  <ion-toolbar mode="ios" class="ion-toolbar-header-bg">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Production</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    
  <ion-refresher  slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content> </ion-refresher-content>
  </ion-refresher>
  <div class="nk-prod-dropdown-area">
    <div class="nk-prod-dropdown-head" (click)="arrowClick()">
      <div class="nk-prod-dropdown-content">
        {{dropdownTitle}}
      </div>
      <div class="nk-prod-dropdown-icon">
        <ion-icon name="caret-forward-outline" class="abs" *ngIf="forwardIcon">
        </ion-icon>
        <ion-icon name="caret-down-outline" class="abs" *ngIf="downIcon">
        </ion-icon>
      </div>
    </div>
    <div class="nk-prod-dropdown-list" *ngIf="dropdownList">
      <ng-container *ngFor="let item of productionDDList;let i=index">
        <div *ngIf="dropdownTitle != item?.MahineDisplayName" class="nk-prod-items" (click)="dropdownClick(item,i)">
          {{item?.MahineDisplayName || item}}
        </div>
      </ng-container>
    </div>
  </div>

  <div class="overflow-dd" *ngIf="dropdownList" (click)="arrowClick()"></div> 

  <div class="nk-prod-nopath text-right pr-2">
    <img src="../../../assets/icon/png/nopath.png"  [routerLink]="['/layouts/nopath']" [queryParams]="{ currentActiveItem : currentActiveItem  }" routerDirection="forward"  routerDirection="forward"
      alt="nopath">
  </div>
  <div class="nk-prod-circles-area mt-3">
    <div class="nk-prod-main-circle">
      <div>
        <nk-progress-circle [textStyle]="{'font-size':'25px'}" value="{{getProductionChartData?.OLE}}" strokeWidth="15"
          strokeColor="{{getProductionChartData?.OEEColourCode}}" width="177" height="177" radius="65" textValue="OLE"></nk-progress-circle>
        <div class="text-center nk-per-value-head">{{getProductionChartData?.OLE}} %</div>
      </div>
    </div>
    <div class="nk-prod-sub-circle mt-5">
      <div [routerLink]="['/layouts/production-availability']" [queryParams]="{ currentActiveItem : currentActiveItem  }" routerDirection="forward">
        <nk-progress-circle [textStyle]="{'font-size':'18px'}" value="{{getProductionChartData?.Availability}}"
          strokeColor="{{getProductionChartData?.AvailabilityColour}}" strokeWidth="14" width="105" height="105" radius="40" textValue="A">
        </nk-progress-circle>
        <div class="text-center nk-per-value">{{getProductionChartData?.Availability}} %</div>
      </div>
      <div [routerLink]="['/layouts/production-performance']"  [queryParams]="{ currentActiveItem : currentActiveItem  }"  routerDirection="forward">
        <nk-progress-circle [textStyle]="{'font-size':'18px'}" value="{{getProductionChartData?.Performance}}"
          strokeColor="{{getProductionChartData?.PerformanceColour}}" strokeWidth="14" width="105" height="105" radius="40" textValue="P">
        </nk-progress-circle>
        <div class="text-center nk-per-value">{{getProductionChartData?.Performance}} %</div>
      </div>
      <div [routerLink]="['/layouts/production-quality']"  [queryParams]="{ currentActiveItem : currentActiveItem  }"  routerDirection="forward">
        <nk-progress-circle [textStyle]="{'font-size':'18px'}" value="{{getProductionChartData?.Quality}}"
          strokeColor="{{getProductionChartData?.QualityColour}}" strokeWidth="14" width="105" height="105" radius="40" textValue="Q">
        </nk-progress-circle>
        <div class="text-center nk-per-value">{{getProductionChartData?.Quality}} %</div>
      </div>

    </div>
  </div>
</ion-content>