<ion-header>
  <ion-toolbar mode="ios" class="ion-toolbar-header-bg">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Planning</ion-title>
    <ion-icon name="calendar-outline" slot="end" (click)="showDate()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content> </ion-refresher-content>
  </ion-refresher>

  <div class="planning-wrapper" *ngFor="let p of getPlanningShiftDetailsData;let i= index">
    <div class="planning-header-wrapper ion-padding" [id]="'planning-wrapper-id'+i"
      (click)="getShiftbyItem(p,$event?.target?.id,i)">
      <div class="planning-header">{{p?.ShiftName}}</div>
      <ion-icon *ngIf="!p?.expanded" name="expand-outline"></ion-icon>
      <ion-icon *ngIf="p?.expanded" name="contract-outline"></ion-icon>
    </div>
    <div class="expand-wrapper m-1" [class.collapsed]="p?.expanded">
      <div class="row expand-header">
        <div class="col-3 text-right">SEQ NO</div>
        <div class="col-4 text-right">NX PART NO</div>
        <!-- <div class="col-3 text-right">ACTUAL</div>
        <div class="col-3 text-left">TARGET</div> -->
      </div>
      <div class="row-expand-head2 mt-2">
        <div class="">MODEL</div>
        <div class="">CUSTOMER</div>
        <div class="">TARGET</div>
        <div class="">ACCEPTED</div>
        <div class="">REJECTION</div>
      </div>
      <!-- <ion-card class="row expand-body m-2" *ngFor="let i of [1,1,1,1,1,1]">
        <div class="col-3">1</div>
        <div class="col-5 text-left">MISFDL34534</div>
        <div class="col-2">0</div>
        <div class="col-2">2</div>
      </ion-card> -->
      <ion-card class="expand-body mt-2" *ngFor="let inn of p?.shiftList">
        <div class="row wd-100">
          <div class="col-3">{{inn?.SNo}}</div>
          <div class="col-9 text-left">{{inn?.NX_PartNo}}</div>
        </div>
        <div class="row wd-100 mt-2">
          <div class="col-3">{{inn?.Model}}</div>
          <div class="col-3">{{inn?.Customer}}</div>
          <div class="col-2">{{inn?.Target}}</div>
          <div class="col-2">{{inn?.Accepted}}</div>
          <div class="col-2">{{inn?.Rejected}}</div>
        </div>
      </ion-card>
    </div>
  </div>

  <div class="text-center mt-5" *ngIf="getPlanningShiftDetailsData?.length<=0">
    NO DATA
  </div>

</ion-content>
<ion-footer class="ion-no-border" *ngIf="planningFooter">
  <div class="row">
    <div class="col-3">ACTUAL</div>
    <div class="col-3">TARGET</div>
    <div class="col-3">PLANNED</div>
    <div class="col-3" (click)="openUnplannedModal(planningFooterData)">UN PLANNED</div>
  </div>
  <div class="row text-centter">
    <div class="col-3">{{planningFooterData?.Actual}}</div>
    <div class="col-3">{{planningFooterData?.Target}}</div>
    <div class="col-3">{{planningFooterData?.Planned}}</div>
    <div class="col-3" (click)="openUnplannedModal(planningFooterData)">{{planningFooterData?.UnPlanned}}</div>
  </div>
</ion-footer>

<div class="modal fade" id="unplanned" tabindex="-1" role="dialog" data-backdrop="false"
  aria-labelledby="exampleModalCenterTitle">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content m-1">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="scroll-y-450">
          <div class="row modal-header-unplanned">
            <div class="col-6">Nx Part Number</div>
            <div class="col-6">Unplanned Count</div>
          </div>
          <div class="row nk-planning-model-content mt-2" *ngFor="let item of getPlanningUnplannedData;let i = index">
            <div class="col-6">{{item?.PartNo}}</div>
            <div class="col-6">{{item?.UnplannedCount}}</div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>