.expand-wrapper {
  transition: all 0s 0.2s ease-in;
  overflow: hidden;
  max-height: 0;
}

.expand-wrapper.collapsed {
  max-height: 100%;
}

.planning-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  margin: 5px;
  font-size: var(--ion-font-size-lg);
  //   font-weight: bold;
  font-family: var(--ion-font-family-header);

  ion-icon {
    font-size: var(--ion-font-size-xxl);
  }
}

.expand-header {
  font-size: 10px;
  font-family: var(--ion-font-family-header);
  color: #7e3533;
  text-align: center;
}
.expand-body {
  text-align: center;
  padding: 10px;
  background-color: #dedede;
  box-shadow: #00000055 0px 1px 2px;
  border-radius: 5px;
  font-size: 12px;
  color: #000000;
  margin: 2px 0px;
  font-family: var(--ion-font-family);
}

ion-footer {
  background-color: var(--ion-color-primary);
  color: var(--ion-font-color-white);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: var(--ion-font-size-xs);
  padding: 5px;
  text-align: center;
}

.modal-header-unplanned {
  color: var(--ion-color-primary);
  font-size: var(--ion-font-size-body);
  font-family: var(--ion-font-family-header);
}

.modal-dialog {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  .modal-content {
    border-radius: 10px;
    text-align: center;
    .modal-header {
      padding: 0 5px;
      border: none;
    }
  }
}

.modal-backdrop {
  z-index: 1040 !important;
}
.modal-dialog {
  margin: 2px auto;
  z-index: 1100 !important;
}
.planning-header {
  font-size: 15px;
  font-family: var(--ion-font-family);
}
.row-expand-head2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #7e3533;
  font-size: 10px;
  font-family: var(--ion-font-family-header);
}

.nk-planning-model-content{
  font: size 12px;
  background-color: #D8D8D8;
}