<ion-header>
  <ion-toolbar class="ion-toolbar-header-bg">
    <ion-buttons slot="start">
      <ion-back-button mode="ios" text=""></ion-back-button>
    </ion-buttons>
    <ion-title slot="secondary" class="pl-5"> {{ currentActiveItem?.MahineDisplayName || 'Production-Availablity'}}
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content> </ion-refresher-content>
  </ion-refresher>

  <div class="row ion-padding">
    <div class="col-6">
      <ion-select mode="ios" [value]="productionAvailabilityForm?.controls?.ShiftName?.value" placeholder="Select One"
        [interfaceOptions]="customAlertOptions" interface="alert" (ionChange)="ShiftDropdownSelected($event)">
        <ion-select-option *ngFor="let item of getShiftListsData" [value]="item?.ShiftName">{{item?.ShiftName}}
        </ion-select-option>
        <!-- <ion-select-option value="2">SHIFT 2</ion-select-option> -->
      </ion-select>
    </div>

    <div class="col-6">
      <div class="calender-area">
        <ion-icon slot="end" (click)="showDate()" name="calendar-outline"></ion-icon>
      </div>
    </div>
  </div>
  <!-- <div class="nk-prod-avail-header">

    <ion-select value="1" mode="ios" placeholder="Select One"  [interfaceOptions]="customAlertOptions" interface="alert">
      <ion-select-option value="1">SHIFT 1</ion-select-option>
      <ion-select-option value="2">SHIFT 2</ion-select-option>
    </ion-select>
    <div class="nk-prod-avail-calendar">
      <ion-icon name="calendar-outline"></ion-icon>
    </div>
  </div> -->
  <div class="text-center">
    <nk-progress-circle [textStyle]="{'font-size':'13px','top':'45%'}"
      value="{{getAvailabilityDetailsData?.Availability}}" strokeWidth="12"
      strokeColor="{{getAvailabilityDetailsData?.AvailabilityColour}}" width="160" height="160" radius="65"
      textValue="AVAILABILITY"></nk-progress-circle>
    <div class="text-center nk-per-value">{{getAvailabilityDetailsData?.Availability}} %</div>
  </div>

  <div class="nk-prod-avail-time">
    <div class="nk-prod-avail-time-content">
      <div class="nk-prod-avail-time-content-head">Available Time</div>
      <div class="nk-prod-avail-time-content-time">{{getAvailabilityDetailsData?.AvailableTime_Hrs}}</div>
    </div>
    <div class="nk-prod-avail-time-content">
      <div class="nk-prod-avail-time-content-head">Run Time</div>
      <div class="nk-prod-avail-time-content-time">{{getAvailabilityDetailsData?.RunTime_Hrs}}</div>
    </div>
    <div class="nk-prod-avail-time-content">
      <div class="nk-prod-avail-time-content-head">DownTime</div>
      <div class="nk-prod-avail-time-content-time">{{getAvailabilityDetailsData?.DownTime_Hrs}}</div>
    </div>
  </div>
  <div class="nk-pull-card-details mt-3 mb-3">
    Pull Card Details
  </div>
  <div class="nk-prod-avail-pullcard ">
    <div class="row nk-prod-avail-pullcard-head text-center">
      <div class="col-3">PRODUCTION</div>
      <div class="col-3">QUALITY</div>
      <div class="col-3">MAINTENANCE</div>
      <div class="col-3">SUPPLY</div>
    </div>
    <div class="row nk-prod-avail-pullcard-content text-center">
      <div class="col-3">{{getPullCardDetailsData?.ProductionTime_Hrs}}</div>
      <div class="col-3">{{getPullCardDetailsData?.QualityTime_Hrs}}</div>
      <div class="col-3">{{getPullCardDetailsData?.MaintenanceTime_Hrs}}</div>
      <div class="col-3">{{getPullCardDetailsData?.ServiceTime_Hrs}}</div>
    </div>
    <div class="row nk-prod-avail-pullcard-footer text-center">
      <div class="col-3">{{getPullCardDetailsData?.ProductionCount}}</div>
      <div class="col-3">{{getPullCardDetailsData?.QualityCount}}</div>
      <div class="col-3">{{getPullCardDetailsData?.MaintenanceCount}}</div>
      <div class="col-3">{{getPullCardDetailsData?.ServiceCount}}</div>
    </div>
    &nbsp;
    <div class="nk-prod-avail-pullcard-rounds">
      <div class="nk-round-with-content">
        <div class="nk-round-blue"></div>
        &nbsp;
        <div class="nk-round-content">Duration</div>
      </div>
      <div class="nk-round-with-content">
        <div class="nk-round-green"></div>
        &nbsp;
        <div class="nk-round-content">Count</div>
      </div>
    </div>
  </div>


  <div class="nk-prod-avail-downtime mt-3">
    <div class="nk-prod-avail-downtime-head">
      TOP 5 DOWNTIME REASONS
    </div>
    <div class="nk-prod-avail-downtime-duration">
      Duration
    </div>
    <div class="nk-prod-avail-downtime-list">
      <ion-card class="nk-prod-avail-card mt-2 mb-2" *ngFor="let item of getTopDowntimeReasonsData;let i = index;">
        <ion-card-content class="">
          <div class="col-1   text-left">{{item?.SNo}}</div>
          <div class="col-8 text-left overflow-ellips">{{item?.Alert}}</div>
          <div class="col-3  text-right">{{item?.Durationin_Hrs}}</div>
        </ion-card-content>
      </ion-card>
      <div *ngIf="getTopDowntimeReasonsData?.length <=0">
        <div class="text-center">
          No Data
        </div>
      </div>
    </div>
  </div>
</ion-content>