.calender-area {
  height: 100%;
  font-size: 30px;
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

.nk-prod-dropdown-area {
  min-height: 52px;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0px 0px 7px 7px;
  background-color: #d9d9d9;
  position: relative;
  cursor: pointer;
  justify-content: center;
}
.nk-prod-dropdown-head {
  height: fit-content;
  border-radius: 0px 0px 7px 7px;
  background-color: #d9d9d9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
.nk-prod-dropdown-content {
  height: 19px;
  font-size: 15px;
  font-family: var(--ion-font-family);
  color: #e2e2e2;
  display: flex;
  justify-content: flex-start;
  color: #000000;
}
.nk-prod-dropdown-icon {
  height: 16px;
  display: flex;
  justify-content: flex-end;
  padding-right: 5px;
}
.nk-prod-dropdown-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  width: 100%;
  background-color: #d9d9d9;
  top: 50px;
}
.nk-prod-items {
  margin: 0px 10px;
  color: #000000;
  font-family: var(--ion-font-family);
  font-size: 15px;
  padding: 5px 0px;
  border-top: 1px solid #ccc;
}

.nk-prod-avail-dropdown {
  width: 100px;
}
.nk-prod-avail-header {
  height: 75px;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nk-prod-avail-circle {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nk-prod-avail-time {
  height: 57px;
  background-color: #dedede;
  border-radius: 9px;
  margin: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: #00000055 1px 1px 2px;
}
.nk-prod-avail-time-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nk-prod-avail-time-content-head {
  font-family: var(--ion-font-family-header);
  font-size: 10px;
  color: #872e2d;
}
.nk-prod-avail-time-content-time {
  font-family: var(--ion-font-family);
  font-size: 12px;
}

.nk-pull-card-details {
  
  height: 30px;
  width: 100%;
  background-color: #872e2d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-family: var(--ion-font-family);
  color: #ffffff;
}
.nk-prod-avail-pullcard {
  min-height: 111px;
  height: fit-content;
  background-color: #dedede;
  border-radius: 9px;
  margin: 10px;
  padding: 10px;
  box-shadow: #00000055 1px 1px 2px;
  font-size: 10px;
}
.nk-prod-avail-pullcard-head{
  font-size: 10px;
  color: #872E2D;
  font-family: var(--ion-font-family-header);
}
.nk-prod-avail-pullcard-content{
  padding: 10px 0px;
  font-size: 12px;
  color: #327AC4;
  font-family: var(--ion-font-family);
}
.row nk-prod-avail-pullcard-footer{
  font-size: 12px;
  color: #078428;
  font-family: var(--ion-font-family);
}
.nk-prod-avail-pullcard-rounds{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}
.nk-round-blue{
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #327AC4;
}
.nk-round-green{
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #078428;
}
.nk-round-with-content{
  display: flex;
}
.nk-round-content{
  font-size: 10px;
  font-family: var(--ion-font-family);
}
.nk-prod-avail-downtime-head{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #872E2D;
  font-size: 10px;
  font-family: var(--ion-font-family-header);
}
.nk-prod-avail-downtime-duration{
  padding-right: 10px;
  text-align: end;
  font-size: 10px;
  color: #000000;
  font-family: var(--ion-font-family);
}
.nk-prod-avail-downtime-list{
  padding:0px 10px 10px 10px;
}
.nopath-card {
  height: 100%;
  font-family: var(--ion-font-family-header);

  .nopath-card-row {
    display: flex;
    align-items: center;
    background-color: #dedede;
    box-shadow: 3px 3px 6px #00000047;
    border-radius: 6px;
    min-height: 25px;
    text-transform: uppercase;
    color: #000000;
  }
}

ion-select {
  background: #d4d0d0;
  border-radius: 4px;
  font-weight: bold;
  color: black;
  .select-icon{
    .select-icon-inner{
      color: #000000 !important;
      opacity: 100% !important;
    }
  }
}