<ion-header>
  <ion-toolbar class="ion-toolbar-header-bg">
    <ion-buttons slot="start">
      <ion-back-button mode="ios" text=""></ion-back-button>
    </ion-buttons>
    <div class="nk-toolbar-title" slot="secondary">Downtime Details </div>
    <div slot="end"> 
     <div class="header-end-time">{{currentActiveItem?.DownTime}}</div>
     <div class="header-end-title"> Total  (HH:MM) </div>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="reasons-heading row mt-2">
    <div class="col-6">{{currentActiveItem?.ShiftName}}</div>
    <div class="col-6">{{currentActiveItem?.ShiftDate | time : 'DD-MM-YYYY'}}</div>
  </div>

  <div class="row m-2 pb-2">
    <div class="col-4 reasons-sub-heading"> START TIME.</div>
    <div class="col-4 reasons-sub-heading"> ALERT NAME.</div>
    <div class="col-4 reasons-sub-heading"> REASON.</div>

    <div class="col-4 reasons-sub-heading"> END TIME.</div>
    <div class="col-4 reasons-sub-heading"> </div>
    <div class="col-4 reasons-sub-heading"> </div>

    <div class="col-4 reasons-sub-heading"> DURATION (Mins)</div>
    <div class="col-4 reasons-sub-heading"> </div>
    <div class="col-4 reasons-sub-heading"> </div>
  </div>

  <div class="nk-card m-2" *ngFor="let downtimeDetail of getDowntimeDetailDataList;let i = index;">
    <div class="nk-card-sno">{{i+1}}</div>
    <table class="reason-card row m-2 p-1">
      <tr class="row wd-100 m-center ">
        <td class="col-1"></td>
        <td class="col-3">{{downtimeDetail?.AlertStartTime | time }}</td>
        <td class="col-4">{{downtimeDetail?.Alert}} </td>
        <td class="col-4" rowspan="3">{{downtimeDetail?.Reason}}</td>
      </tr>
      <tr class="row wd-100 m-center">
        <td class="col-1"></td>
        <td class="col-3">{{downtimeDetail?.AlertEndTime | time}}</td>
        <td class="col-4"></td>
        <td class="col-4"></td>
      </tr>
      <tr class="row wd-100 m-center">
        <td class="col-1"></td>
        <td class="col-3">{{downtimeDetail?.AlertDurationInMinutes.toFixed(2)}}</td>
        <td class="col-4"></td>
        <td class="col-4"></td>
      </tr>
    </table>
  </div>

</ion-content>