<ion-header >
  <ion-toolbar mode="ios" class="ion-toolbar-header-bg">
   <ion-buttons slot="start">
     <ion-menu-button></ion-menu-button>
   </ion-buttons>
   <ion-title>Condition Monitoring</ion-title>
 </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
         <div class="nk-condition-list mb-4" *ngFor="let item of items;let i=index"(click)="conditionMonitoringListClick(item,i)">
           <div class="">{{item}}</div>
           <div class="">
            <ion-icon name="expand-outline"></ion-icon>

           </div>
         </div>
</ion-content>
