<ion-header>
  <ion-toolbar class="ion-toolbar-header-bg">
    <ion-buttons slot="start">
      <ion-back-button mode="ios" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Traceability</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="trace-details-head-area">
    <div>
      <img src="../../../../assets/image/No_Image_Available.jpg"
        [src]="'data:image/png;base64,'+currentImage?.PartImage | safeUrl" alt="trace" height="150" width="150"
        onError="this.src='./assets/image/No_Image_Available.jpg'">
      <div class="text-center">{{currentImage?.Model}}</div>
    </div>
    <div class="trace-details-head-content flex">
      <div>STATUS</div>
      <ion-icon *ngIf="currentSelectedItem?.StatusCode ==0" class="success" name="checkmark-outline"></ion-icon>
      <ion-icon *ngIf="currentSelectedItem?.StatusCode ==1" class="danger" name="close-outline"></ion-icon>
    </div>
  </div>
  <div class="mt-2">

    <div class="planning-wrapper">
      <div class="planning-header-wrapper ion-padding" [id]="'planning-wrapper-details'"
        (click)="getTraceabilityDetails(items[0],$event?.target?.id)">
        <div class="planning-header"> {{items[0].label}}</div>
        <ion-icon *ngIf="!items[0]?.expanded" name="expand-outline"></ion-icon>
        <ion-icon *ngIf="items[0]?.expanded" name="contract-outline"></ion-icon>
      </div>
      <div class="expand-wrapper m-1" [class.collapsed]="items[0]?.expanded">
        <div class="row nk-traceability-details-dropdown">
          <div class="col-6 nk-trace-list text-center mt-2">
            <div class="nk-traceability-details-dropdown-head">HSG SR No.</div>
            <div class="nk-traceability-details-dropdown-content">{{traceDetailData?.HSG_SerialNo}}</div>
          </div>
          <div class="col-6 nk-trace-list text-center mt-2">
            <div class="nk-traceability-details-dropdown-head">HSG PR No.</div>
            <div class="nk-traceability-details-dropdown-content">{{traceDetailData?.HSG_PartNo}}</div>
          </div>
          <div class="col-6 nk-trace-list text-center mt-2">
            <div class="nk-traceability-details-dropdown-head">NX SR No.</div>
            <div class="nk-traceability-details-dropdown-content">{{traceDetailData?.NX_SerialNo}}</div>
          </div>
          <div class="col-6 nk-trace-list text-center mt-2">
            <div class="nk-traceability-details-dropdown-head">NX PR No.</div>
            <div class="nk-traceability-details-dropdown-content">{{traceDetailData?.NX_PartNo}}</div>
          </div>
          <div class="col-6 nk-trace-list text-center mt-2">
            <div class="nk-traceability-details-dropdown-head">DH SR No.</div>
            <div class="nk-traceability-details-dropdown-content">{{traceDetailData?.DH_SerialNo}}</div>
          </div>
          <div class="col-6 nk-trace-list text-center mt-2">
            <div class="nk-traceability-details-dropdown-head">DH PR No.</div>
            <div class="nk-traceability-details-dropdown-content">{{traceDetailData?.DH_PartNo}}</div>
          </div>
          <div class="col-6 nk-trace-list text-center mt-2">
            <div class="nk-traceability-details-dropdown-head">Assembly starts at</div>
            <div class="nk-traceability-details-dropdown-content">{{traceDetailData?.AssemblyStartAt | time:'DD-MM-YYYY hh:mm'}}</div>
          </div>
          <div class="col-6 nk-trace-list text-center mt-2">
            <div class="nk-traceability-details-dropdown-head">Assembly ends at</div>
            <div class="nk-traceability-details-dropdown-content">{{traceDetailData?.AssemblyEndAt  | time:'DD-MM-YYYY hh:mm'}}</div>
          </div>
          <div class="col-6 nk-trace-list text-center mt-2">
            <div class="nk-traceability-details-dropdown-head">paint time</div>
            <div class="nk-traceability-details-dropdown-content">{{traceDetailData?.PaintTime}}</div>
          </div>
          <div class="col-6 nk-trace-list text-center mt-2">
            <div class="nk-traceability-details-dropdown-head">Book out date</div>
            <div class="nk-traceability-details-dropdown-content">
              {{traceDetailData?.BookOutDate | time: 'DD-MM-YYYY hh:mm'}}</div>
          </div>
        </div>
      </div>
    </div>


    <div class="planning-wrapper">
      <div class="planning-header-wrapper ion-padding" [id]="'planning-wrapper-Assembly-details'"
        (click)="getAssemblyDetails(items[1],$event?.target?.id)">
        <div class="planning-header"> {{items[1].label}}</div>
        <ion-icon *ngIf="!items[1]?.expanded" name="expand-outline"></ion-icon>
        <ion-icon *ngIf="items[1]?.expanded" name="contract-outline"></ion-icon>
      </div>
      <div class="expand-wrapper m-1" [class.collapsed]="items[1]?.expanded">
        <div class="row nk-trace-assembly-head">
          <div class="col-6 text-center">Process Name</div>
          <div class="col-6 text-center">Status</div>
        </div>
        <div class="row nk-trace-assembly-head mt-3 mb-2">
          <div class="col-6 text-center">start time</div>
          <div class="col-6 text-center">end time</div>
        </div>
        <div class="scroll-y-450">
          <div class="nk-card m-2" *ngFor="let item of traceAssemblyData;let i = index"
            (click)="openAssesmblyDetailModal(item)">
            <div class="nk-card-sno">{{item?.SNo}}</div>
            <table class="reason-card row m-1 ">
              <tr class="row  wd-100 m-center">
                <td class="col-6 text-center">{{item?.ProcessName}}</td>
                <td class="col-6 text-center">{{item?.Status}}</td>
              </tr>
              <tr class="row  wd-100 m-center">
                <td class="col-6 text-center">{{item.AssemblyStartTime | time: 'DD-MM-YYYY hh:mm'}}</td>
                <td class="col-6 text-center">{{item.AssemblyEndTime | time: 'DD-MM-YYYY hh:mm'}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="planning-wrapper">
      <div class="planning-header-wrapper ion-padding" [id]="'planning-wrapper-Nut-Runner-Details'"
        (click)="getNutRunnerDetails(items[2],$event?.target?.id)">
        <div class="planning-header"> {{items[2].label}}</div>
        <ion-icon *ngIf="!items[2]?.expanded" name="expand-outline"></ion-icon>
        <ion-icon *ngIf="items[2]?.expanded" name="contract-outline"></ion-icon>
      </div>
      <div class="expand-wrapper m-1" [class.collapsed]="items[2]?.expanded">
        <div class="row nk-trace-head m-2">
          <div class="col-4 text-left">Pattern</div>
          <div class="col-4 text-center">Angle</div>
          <div class="col-4 text-right">Torque Values</div>
        </div>

        <div class="scroll-y-450">
          <div class="row bottom-card-body m-2" *ngFor="let item of traceNutRunnerData;let i = index">
            <div class="col-2 text-center">{{item?.Pattern}}</div>
            <div class="col-5 text-center">{{item?.Angle}}</div>
            <div class="col-5 text-center">{{item?.TorqueA}}</div>
          </div>
        </div>
      </div>
    </div>
    <!-- TODO : HIDE FOR NOW SCREEN YET TO DESIGN NOT CONFIRMED -->
    <div class="planning-wrapper">
      <div class="planning-header-wrapper ion-padding" [id]="'planning-wrapper-Nut-Runner-Details'"
        (click)="getDifferentialDetails(items[5],$event?.target?.id)">
        <div class="planning-header"> {{items[5].label}}</div>
        <ion-icon *ngIf="!items[5]?.expanded" name="expand-outline"></ion-icon>
        <ion-icon *ngIf="items[5]?.expanded" name="contract-outline"></ion-icon>
      </div>
      <div class="expand-wrapper m-1" [class.collapsed]="items[5]?.expanded">
        <div class="row nk-trace-head m-2">
          <div class="col-6 text-center">Load Fwd</div>
          <div class="col-6 text-center">Load Reverse</div>
          <div class="col-6 text-center pt-1">NoLoad Fwd</div>
          <div class="col-6 text-center pt-1">NoLoad Reverse</div>
        </div>

        <div class="scroll-y-450">
          <div class="row bottom-card-body m-2" *ngFor="let item of traceDifferentialData;let i = index">
            <div class="col-6 text-center">{{item?.Load_Fwd}}</div>
            <div class="col-6 text-center">{{item?.Load_Reverse}}</div>
            <div class="col-6 text-center ">{{item?.NoLoad_Fwd}}</div>
            <div class="col-6 text-center ">{{item?.NoLoad_Reverse}}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="planning-wrapper">
      <div class="planning-header-wrapper ion-padding" [id]="'planning-wrapper-Air-leak-details'"
        (click)="getAirLeakDetails(items[3],$event?.target?.id)">
        <div class="planning-header"> {{items[3].label}}</div>
        <ion-icon *ngIf="!items[3]?.expanded" name="expand-outline"></ion-icon>
        <ion-icon *ngIf="items[3]?.expanded" name="contract-outline"></ion-icon>
      </div>
      <div class="expand-wrapper m-1" [class.collapsed]="items[3]?.expanded">
        <div class="row nk-trace-head m-2">
          <div class="col-4 text-center">air Leak scanner</div>
          <div class="col-4 text-center">test pressure</div>
          <div class="col-4 text-center">leak value</div>
        </div>

        <div class="scroll-y-450">
          <div class="row bottom-card-body m-2" *ngFor="let item of traceAirLeakData;let i = index">
            <div class="col-4 text-center">{{item?.Scanner}}</div>
            <div class="col-4 text-center">{{item?.TestPressure}}</div>
            <div class="col-4 text-center">{{item?.LeakValue1}}</div>
          </div>
        </div>
      </div>
    </div>


    <div class="planning-wrapper">
      <div class="planning-header-wrapper ion-padding" [id]="'planning-wrapper-Air-leak-details'"
        (click)="getPostAssemblyDetails(items[4],$event?.target?.id)">
        <div class="planning-header"> {{items[4].label}}</div>
        <ion-icon *ngIf="!items[4]?.expanded" name="expand-outline"></ion-icon>
        <ion-icon *ngIf="items[4]?.expanded" name="contract-outline"></ion-icon>
      </div>
      <div class="expand-wrapper m-1" [class.collapsed]="items[4]?.expanded">
        <div class="row nk-trace-assembly-head">
          <div class="col-6 text-center">Process Name</div>
          <div class="col-6 text-center">Status</div>
        </div>
        <div class="row nk-trace-assembly-head mt-3 mb-2">
          <div class="col-6 text-center">start time</div>
          <div class="col-6 text-center">end time</div>
        </div>

        <div class="scroll-y-450">
          <div class="nk-card m-2" *ngFor="let item of tracePostAssemblyData;let i = index"
            (click)="postAssemblyListClick(item)">
            <div class="nk-card-sno">{{i+1}}</div>
            <table class="reason-card row m-1 ">
              <tr class="row  wd-100 m-center">
                <td class="col-6 text-center">{{item?.ProcessName}}</td>
                <td class="col-6 text-center">{{item?.Status}}</td>
              </tr>
              <tr class="row  wd-100 m-center">
                <td class="col-6 text-center">{{item.AssemblyStartTime | time: 'DD-MM-YYYY hh:mm'}}</td>
                <td class="col-6 text-center">{{item.AssemblyEndTime | time: 'DD-MM-YYYY hh:mm'}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</ion-content>

<div class="modal fade" id="assembly-details-modal" tabindex="-1" role="dialog" data-backdrop="false"
  aria-labelledby="exampleModalCenterTitle">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content m-2">
      <div class="modal-header m-0 ">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row modal-header-unplanned">
          <div class="col-6">Operator Name</div>
          <div class="col-6">Operator Id</div>
        </div>

        <div class="scroll-y-450">
          <div class="row nk-planning-model-content mt-2" *ngFor="let item of traceEmployeeData;let i=index">
            <div class="col-6 text-center flex">
              <div>
                <ion-icon name="male-outline"></ion-icon>
              </div>
              &nbsp;
              <div>{{item?.EmployeeName}} </div>
            </div>
            <div class="col-6 text-center">{{item?.EmployeeId}}</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>