.expand-wrapper {
  transition: all 0s 0.2s ease-in;
  overflow: hidden;
  max-height: 0;
}

.expand-wrapper.collapsed {
  max-height: 100%;
}

.planning-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  margin: 5px;
  font-size: var(--ion-font-size-lg);
  //   font-weight: bold;
  font-family: var(--ion-font-family-header);

  ion-icon {
    font-size: var(--ion-font-size-xxl);
  }

  .planning-header {
    text-transform: capitalize;
    color: #000000;
    font-family: var(--ion-font-family);
    font-size: 15px;
  }
}

.trace-details-head-area {
  display: flex;
  justify-content: space-between;
  margin: 5px 15px;
  align-items: center;
  .trace-details-head-content {
    font-family: var(--ion-font-family);
    color: #000000;
    font-size: 15px;
    text-transform: uppercase;

    ion-icon.success {
      color: #008810;
      padding-left: 5px;
      font-size: 20px;
    }
    ion-icon.danger {
      color: #9a3434;
      padding-left: 5px;
      font-size: 20px;
    }
  }
}
.nk-traceability-details-dropdown {
  display: flex;
}
.nk-traceability-details-dropdown-head {
  font-size: 12px;
  font-family: var(--ion-font-family);
  color: #7e3533;
  text-transform: capitalize;
}
.nk-traceability-details-dropdown-content {
  font-size: 11px;
  text-transform: uppercase;
  color: #838383;
  font-family: var(--ion-font-family);
}
.nk-trace-assembly-head{
  font-size: 11px;
  color: #7E3533;
  text-transform: uppercase;
  font-family: var(--ion-font-family-header);
}
.nk-card{
  position: relative;
  box-shadow: 1px 1px 2px #00000055;
  border-radius: 9px;
  background-color: #DEDEDE;
  color: #000000;
  min-height: 75px;
  .nk-card-sno{
      position: absolute;
      top: 0;
      left: 0;
      background-color: #5B5B5B;
      color: #FFFFFF;
      font-family: var(--ion-font-family-header);
      font-size: 12px;
      width: 16px;
      height:16px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
 
  }
  .reason-card{
  background-color: #DEDEDE;
  .card-sno{
      height: 16px;
      width: 16px;
      background: #5B5B5B;
      color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
  }
  }
}
.nk-trace-head{
  font-size: 11px;
  color: #7E3533;
  text-transform: uppercase; 
  font-family: var(--ion-font-family-header); 
}
.bottom-card-body {
  font-family: var(--ion-font-family);
  box-shadow: 1px 1px 2px #00000055;
  background-color: #dedede;
  border-radius: 9px;
  font-size: 12px;
  height: 30px;
  display: flex;
  align-items: center;
}

.modal-dialog {
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    .modal-content {
      border-radius: 10px;
      text-align: center;
      .modal-header {
        padding: 0 5px;
        border: none;
      }
    }
  }
  .modal-header-unplanned{
    font-size: 15px;
    font-family: var(--ion-font-family-header);
    color: #2B2B2B;
  }
  .nk-planning-model-content{
    font-size: 12px;
    font-family: var(--ion-font-family);
  }
