.nk-progress-circle {
  position: relative;
  height: auto;
  width: auto;
}
.progress__value-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  color: #000000;
  font-family: var(--ion-font-family-header);
  font-size: 11px;
}

.progress__svg {
  transform: rotate(-90deg);
}

.progress__meter,
.progress__value {
  fill: none;
}

.progress__meter {
  opacity: 25%;
}

.progress__value {
  transition: all 1s ease-in;
}
