<div class="nk-progress-circle">
  <svg [style.width]="width" [style.height]="height" [style.viewBox]="viewBox" class="progress__svg">

    <circle [attr.r]="radius" [style.cx]="cx" [style.cy]="cy" [style.stroke]="strokeColor"
      [style.stroke-width]="strokeWidth" class="progress__meter" #progressMeter />
    <circle [style.strokeDasharray]="circumference" [style.stroke]="strokeColor" [style.stroke-width]="strokeWidth"
      [style.strokeDashoffset]="dashoffset" [attr.r]="radius" [style.cx]="cx" [style.cy]="cy" class="progress__value"
      #progressValue /> 
  </svg>
  <div class="progress__value-text" [ngStyle]="textStyle"> {{textValue}}</div>

</div>