
.calender-area {
    height: 100%;
    font-size: 30px;
    justify-content: flex-end;
    display: flex;
    align-items: center;
  }

.card-body-per-quality{
    color: #000000;
    font-size: 17px;
    font-family: var(--ion-font-family);
}

.nk-perform-card {
    box-shadow: 1px 1px 2px #00000055;
    background: #dedede;
    border-radius: 9px;
    .card-head-per {
        font-size: 12px;
      font-family: var(--ion-font-family-header);
      color: #872e2d;
      text-transform: uppercase;
    }
    
    .card-body-per {
        font-size: 12px;
        color: #000000;
        font-family: var(--ion-font-family);
    }
}


.nk-card{
    position: relative;
    box-shadow: 1px 1px 2px #00000055;
    border-radius: 9px;
    background-color: #DEDEDE;
    color: #000000;
    .nk-card-sno{
        position: absolute;
        top: 0;
        left: 0;
        background-color: #5B5B5B;
        color: #FFFFFF;
        font-family: var(--ion-font-family-header);
        font-size: 12px;
        width: 16px;
        height:16px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
   
    }
    .reason-card{
    background-color: #DEDEDE;
    .card-sno{
        height: 16px;
        width: 16px;
        background: #5B5B5B;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
    }
    }
}
ion-select {
    background: #d4d0d0;
    border-radius: 4px;
    font-weight: bold;
    color: black;
    .select-icon{
      .select-icon-inner{
        color: #000000 !important;
        opacity: 100% !important;
      }
    }
  }