<ion-header>
  <ion-toolbar class="ion-toolbar-header-bg">
    <ion-buttons slot="start">
      <ion-back-button mode="ios" text=""></ion-back-button>
    </ion-buttons>
    <ion-title slot="secondary" class="pl-5">{{ currentActiveItem?.MahineDisplayName || 'Production-Quality'}}
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content> </ion-refresher-content>
  </ion-refresher>

  <div class="perform-wrapper ion-padding">
    <div class="row">
      <div class="col-6">
        <ion-select mode="ios" [value]="productionQualityForm?.controls?.ShiftName?.value" placeholder="Select One"
          [interfaceOptions]="customAlertOptions" interface="alert" (ionChange)="ShiftDropdownSelected($event)">
          <ion-select-option *ngFor="let item of getShiftListsData" [value]="item?.ShiftName">{{item?.ShiftName}}
          </ion-select-option>
        </ion-select>
      </div>

      <div class="col-6">
        <div class="calender-area">
          <ion-icon slot="end" (click)="showDate()" name="calendar-outline"></ion-icon>
        </div>
      </div>
    </div>
  </div>

  <div class="">
    <div class="text-center">
      <nk-progress-circle [textStyle]="{'font-size':'13px','top':'45%'}"
        value="{{productionQualityDetailData?.Quality}}" strokeWidth="12"
        strokeColor="{{productionQualityDetailData?.QualityColour}}" width="160" height="160" radius="65"
        textValue="QUALITY"></nk-progress-circle>
      <div class="text-center nk-per-value">{{productionQualityDetailData?.Quality}} %</div>
    </div>
    <div>
      <ion-card class="nk-perform-card">
        <ion-card-content class="card-per">
          <div class="row">
            <div class="col-6 text-center">
              <div class="card-head-per">accepted</div>
              <div class="card-body-per-quality">{{productionQualityDetailData?.Accepted}}</div>
            </div>
            <div class="col-6 text-center">
              <div class="card-head-per">rejected</div>
              <div class="card-body-per-quality">{{productionQualityDetailData?.Rejected}}</div>
            </div>
            <div class="col-6 text-center p-2 mt-2">
              <div class="card-head-per">PLANNED</div>
              <div class="card-body-per-quality">{{productionQualityDetailData?.Planned}}</div>
            </div>
            <div class="col-6 text-center p-2 mt-2">
              <div class="card-head-per">UN-PLANNED</div>
              <div class="card-body-per-quality">{{productionQualityDetailData?.UnPlanned}}</div>
            </div>

          </div>
        </ion-card-content>
      </ion-card>
    </div>

    <div class="center-label">
      <div class="center-label-content">Rejection</div>
    </div>

    <div class="row m-2 pb-2">
      <div class="col-4 reasons-sub-heading"> Model</div>
      <div class="col-4 reasons-sub-heading"> nx / hsg part no.</div>
      <div class="col-4 reasons-sub-heading"> Rejected at</div>

      <div class="col-4 reasons-sub-heading"> Customer</div>
      <div class="col-4 reasons-sub-heading"> Nx / hsg Serial No.</div>
      <div class="col-4 reasons-sub-heading"> Reason</div>

      <div class="col-4 reasons-sub-heading"> Time</div>
      <div class="col-4 reasons-sub-heading">rejected BY</div>
      <div class="col-4 reasons-sub-heading"> </div>
    </div>

    <div class="nk-card m-2" *ngFor="let inn of productionQualityRejectionData;let i = index">
      <div class="nk-card-sno">{{inn?.SNo}}</div>
      <table class="reason-card row m-1 ">
        <tr class="row  wd-100 m-center">
          <td class="col-1"></td>
          <td class="col-3">{{inn?.Model}}</td>
          <td class="col-4">{{inn?.HSG_NX_PartNo}}</td>
          <td class="col-4" rowspan="3">{{inn?.Rejected_At}}</td>
        </tr>
        <tr class="row  wd-100 m-center">
          <td class="col-1"></td>
          <td class="col-3">{{inn?.Shift}}</td>
          <td class="col-4">{{inn?.HSG_NX_SerialNo}}</td>
          <td class="col-4">{{inn?.Rejected_Reason}}</td>
        </tr>
        <tr class="row wd-100 m-center">
          <td class="col-1"></td>
          <td class="col-3">{{inn?.Rejected_Time | time}}</td>
          <td class="col-4">{{inn?.Rejected_By }}</td>
          <td class="col-4"></td>
        </tr>
      </table>
    </div>
    <div *ngIf="productionQualityRejectionData?.length <=0">
      <div class="text-center">
        No Data
      </div>
    </div>

  </div>

</ion-content>