/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/Montserrat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: Montserrat-Regular;
  src: url("./assets/fonts/Montserrat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: Montserrat-Header;
  src: url("./assets/fonts/Montserrat/Montserrat-Bold.ttf");
}
@font-face {
  font-family: Avenir-Heavy;
  src: url("./assets/fonts/Avenir-Heavy/Avenir-Heavy.ttf");
  // src: url("./assets/fonts/Avenir-Heavy/AEH.ttf");
}

body {
  font-family: var(--ion-font-family);
  font-size: var(--ion-font-size-body);
}

input::placeholder {
  font-size: var(--ion-font-size-body);
  color: #c4c4c4;
}

.please-wait-loader {
  // background-color: white;
  --background: white;
  color: var(--ion-color-primary);
}

.fhead {
  font-family: var(--ion-font-family-header);
  font-size: var(--ion-font-size-header);
}

.ion-toolbar-header-bg {
  --background: var(--ion-color-primary);
  --ion-toolbar-color: var(--ion-bg-color-white, #fff);
  font-family: var(--ion-font-family);
  ion-title {
    font-size: var(--ion-font-size-header) !important;
    font-weight: bold;
  }
  ion-icon {
    font-size: 25px;
    padding: 5px;
  }
  .header-badge-area {
    display: flex;
    z-index: 1;
    position: absolute;
    right: 3px;
    top: 3px;
    ion-badge {
      font-size: var(--ion-font-size-xxs);
    }
  }
}

.form-control {
  border: 1px solid var(--ion-color-primary, #ced4da);
}
.form-control:focus {
  border-color: var(--ion-color-primary, #ced4da);
  box-shadow: 0 0 0 0.2rem rgba(135, 46, 45, 0.17);
}

.nk-card {
  background-color: var(--ion-bg-color-white);
  min-width: 100px;
  min-height: 100px;
  border-radius: 10px;
  border: 1px solid #d7d6d6;
  box-shadow: 1px 1px 2px #00000055;
  // box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.1);
}

.abs {
  position: absolute;
}

.flex {
  display: flex;
}

.flex1 {
  flex: 1;
}

.flex2 {
  flex: 2;
}

.flex3 {
  flex: 3;
}

.flex4 {
  flex: 4;
}

.flex5 {
  flex: 5;
}

.flex-column {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}

.nk-toolbar-title {
  font-size: var(--ion-font-size-header);
  font-family: var(--ion-font-family);
  padding-left: 10px;
  //  font-weight: bold;
}
.header-end-time {
  font-size: 20px;
  font-family: var(--ion-font-family);
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.header-end-title {
  max-width: 50px;
  font-size: 8px;
  text-align: center;
  font-family: var(--ion-font-family);
  color: white;
  text-transform: uppercase;
}

.reasons-heading {
  color: var(--ion-color-primary);
  font-weight: bold;
  font-size: var(--ion-font-size-sub-header, 13px);
  font-family: var(--ion-font-family-header);
  text-transform: uppercase;
  text-align: center;
}

.reasons-sub-heading {
  text-transform: uppercase;
  text-align: left;
  font-weight: bold;
  padding-top: 10px;
  font-size: var(--ion-font-size-xxs, 10px);
  font-family: var(--ion-font-family-header);
}
.nk-per-value {
  font-size: 15px;
  font-family: var(--ion-font-family);
}
table.reason-card {
  margin-top: 10px;
  font-family: var(--ion-font-family);
  font-size: var(--ion-font-size-xxs);
  td {
    padding: 6px;
    font-weight: 600;
    vertical-align: top;
  }
  tr {
    padding: 0px 2px;
  }
}

.flex-reason {
  display: flex;
  // justify-content: center;
  // align-items: center;
}

.max-width-150 {
  max-width: 150px;
}

.float-right {
  float: right;
}

.wd-10 {
  width: 10%;
}
.wd-20 {
  width: 20%;
}
.wd-30 {
  width: 30%;
}
.wd-40 {
  width: 40%;
}
.wd-50 {
  width: 50%;
}
.wd-60 {
  width: 60%;
}
.wd-100 {
  width: 100%;
}

.m-center {
  margin: 0 auto;
}

.font-8 {
  font-size: 8px;
}
.font-9 {
  font-size: 9px;
}

.center-label {
  height: 30px;
  width: 100%;
  text-align: center;
  background-color: #872e2d;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--ion-font-family);

  .center-label-content {
    font-size: 15px;
    color: #ffffff;
    font-family: var(--ion-font-family);
  }
}

.nk-chart-wrapper {
  background-color: #272d3b;
  color: #e2e2e2;
}

.nk-prod-avail-card {
  background-color: #dedede;
  border-radius: 4px;
  box-shadow: 1px 1px 2px #00000055;
  display: flex;
  align-items: center;
  padding: 1px;
  margin: 0;
  color: #000000;
  font-family: var(--ion-font-family);
  font-size: 12px;
  // height: 30px;
  min-height: 30px;
  ion-card-content {
    display: flex;
    color: #000000;
    font-family: var(--ion-font-family);
    font-size: 12px;
    padding: 0;
    align-items: center;
    width: 100%;

    text-transform: capitalize;
  }
}

ion-select {
  --padding-top: 5px;
  --padding-right: 5px;
  --padding-bottom: 5px;
  --padding-left: 5px;
  font-size: 15px;
  color: black;
  font-family: var(--ion-font-family);
  .select-icon {
    .select-icon-inner {
      color: #000000 !important;
      opacity: 100% !important;
    }
  }
}

.visible-hidden {
  visibility: hidden;
}

ion-icon[name="notifications"] {
  color: #ffe07d;
}

ion-header {
  ion-title {
    font-size: 20px;
    font-family: var(--ion-font-family);
  }
}

ion-icon:focus {
  outline: none !important;
}

[routerLink] {
  outline: none !important;
}

.overflow-ellips {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.scroll-y-450 {
  overflow-y: scroll;
  max-height: 450px;
}
