.trace-head {
  color: #872e2d;
  font-family: var(--ion-font-family-header);
  font-size: 13px;
  padding: 5px;
}

.trace-head-img {
  float: right;
}

.trace-sub-head {
  color: #000000;
  font-family: var(--ion-font-family-header);
  font-size: 10px;
  text-transform: uppercase;
}

.trace-end-line {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  .trace-line-hr {
    background-color: #327ac4;
    width: 90%;
    height: 2px;
  }
}

.nk-trace-card {
  background-color: #ffffff;
  .success {
    box-shadow: 0px 1px 2px #00000055;
    border-radius: 9px;
    border: 8px solid #4f7942;
  }
  .danger {
    box-shadow: 0px 1px 2px #00000055;
    border-radius: 9px;
    border: 8px solid #9a3434;
  }
  .warning {
    box-shadow: 0px 1px 2px #00000055;
    border-radius: 9px;
    border: 8px solid #f7d83b;
  }
}

.trace-sub-body {
  font-size: 10px;
  color: #000000;
  text-align: center;
  font-family: var(--ion-font-family);
}
.qr-modal-scanner {
  text-align: center;
  ion-icon {
    min-width: 100px;
    min-height: 100px;
    border: 1px solid #dddddd;
    background-color: #dddddd;
    padding: 2px;
  }
}

.modal-dialog {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  .modal-content {
    border-radius: 10px;
    text-align: center;
    .modal-header {
      padding: 0 5px;
      border: none;
    }
  }
}

.form-control {
  border-radius: 16px;
  border: 1px solid var(--ion-color-secondary, #ced4da);
  input {
    font-size: 15px;
    font-family: var(--ion-font-family);
  }
}

input::placeholder {
  color: #c4c4c4;
}

.transparentBody {
  background: transparent !important;
}
