<ion-header>
  <ion-toolbar mode="ios" class="ion-toolbar-header-bg">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Traceability</ion-title>
    <div slot="end" class="p-2">
      <img src="../../../assets/image/qrcode.png" alt="qrcode" height="40" width="40" (click)="qrScanner()">
    </div>

    <!-- <ion-icon slot="end" name="notifications"  [routerLink]="['/notification']" routerDirection="forward"> </ion-icon>
   <div class="header-badge-area" [routerLink]="['/notification']" >
    <ion-badge id="notifications-badge" color="danger">5</ion-badge>
   </div> -->
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  
  <ion-refresher  slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content> </ion-refresher-content>
  </ion-refresher>

  <div>
    <div class="text-center trace-head">
      Modal
      <div class="trace-head-img text-end ">
        <img src="../../../assets/image/time-and-date.png" (click)="showDate()" alt="time-and-date" height="24"
          width="24">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4 trace-sub-head mt-2">NX part no.</div>
    <div class="col-4 trace-sub-head mt-2">NX serial no.</div>
    <div class="col-4 trace-sub-head mt-2">Customer</div>
    <div class="col-4 trace-sub-head mt-2">Shift</div>
    <div class="col-4 trace-sub-head mt-2">Start time</div>
    <div class="col-4 trace-sub-head mt-2">End time</div>
  </div>

  <div class="trace-end-line mt-2">
    <div class="trace-line-hr"></div>
  </div>

  <div class="mt-2">
    <ion-card *ngFor="let item of getTraceabilityListData;let i=index" class="nk-trace-card m-0 mt-2"
      (click)="traceabilityDetails(item)" routerDirection="forward">
      <div [class.success]="item?.StatusCode == 0" [class.danger]="item?.StatusCode  == 1"
        [class.warning]="item?.StatusCode  == 2">
        <ion-card-content class="p-2 pt-0">
          <div class="row">
            <div class="col-12 trace-head text-center">{{item?.Model}}</div>
            <div class="col-4 trace-sub-body mt-2 text-uppercase">{{item?.NXPartNumber}}</div>
            <div class="col-4 trace-sub-body mt-2 text-uppercase">{{item?.NXSerialNumber}}</div>
            <div class="col-4 trace-sub-body mt-2">{{item?.Customer}}</div>
            <div class="col-4 trace-sub-body mt-2">{{item?.Shift}}</div>
            <div class="col-4 trace-sub-body mt-2">{{item?.StartTime | time:'DD-MM-YYYY HH:MM'}}</div>
            <div class="col-4 trace-sub-body mt-2">{{item?.EndTime | time:'DD-MM-YYYY HH:MM'}}</div>
          </div>
        </ion-card-content>
      </div>
    </ion-card>
    <div class="text-center m-5 pt-5" *ngIf="getTraceabilityListData?.length <=0">
      PLEASE WAIT A MINUTE  OR  THERE IS NO DATA TRY LATER
    </div>
  </div>

  <div class="modal fade" id="qrscannerModal" tabindex="-1" role="dialog" data-backdrop="false"
    aria-labelledby="exampleModalCenterTitle">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content m-3">
        <div class="flex">
          <h5 class="modal-title text-center wd-100" id="exampleModalCenterTitle"> Scan QR Code
            <button type="button" class="close pr-2" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </h5>
        </div>
        <div class="modal-body">
          <div class="qr-modal-scanner">
            <ion-icon name="qr-code-outline" (click)="qrscannerClick()"></ion-icon>
          </div>
          <div class="mt-2 text-center">
            Or
          </div>
          <div class="mt-2">
            <div class="form-group" [formGroup]="traceabilityListForm">
              <!-- <label for="Username">Username</label> -->
              <input type="text" class="form-control" id="NXserialnumber" formControlName="NXSerialNumber"
                placeholder="NX serial number" autocomplete="new-password">
            </div>
          </div>
          <div>
            <ion-button mode="md" color="secondary" shape="round" (click)="qrOkClicked()"> ok</ion-button>

          </div>
        </div>

      </div>
    </div>
  </div>

</ion-content>