.nk-cond-listbox {
  display: flex;
  background: #dedede;
  color: #872e2d;
  min-height: 100px;
  min-width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--ion-font-family);
  text-transform: uppercase;
  box-shadow: 1px 1px 3px #0000004d;
  margin-top: 5px;
  margin-bottom: 5px;

  .nk-cond-list-content {
    font-size: 15px;
    text-transform: uppercase;
    color: #872e2d;
  }
}
