<ion-header>
  <ion-toolbar class="ion-toolbar-header-bg">
    <ion-buttons slot="start">
      <ion-back-button mode="ios" text=""></ion-back-button>
    </ion-buttons>
    <ion-title slot="secondary" class="pl-5">Condition-details-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="m-1">
    <div class="row">
      <div class="col-6 " *ngFor="let item of items;let i=index"  (click)="itemClick(item)">
        <div class="nk-cond-listbox">
          <div class="nk-cond-list-content text-center">
            {{item?.ProcessDisplayName}}
          </div>
        </div>
      </div> 
    </div>
  </div>

</ion-content>