.ferror {
  color: #e1342f;
}

.fsuccess {
  color: #4e7841;
  font-size: 10px;
}

.condition-details-img-area {
  img {
    min-width: 95%;
    width: 100%;
  }
}

.device-status-card {
  box-shadow: 1px 1px 2px #00000055;
  border-radius: 9px;
  background-color: #dedede;
  font-size: 10px;
  font-family: var(--ion-font-family-header);
  ion-card-content {
    font-size: 10px;
    font-family: var(--ion-font-family-header);
  }
}

.device-sub-status-card {
  box-shadow: 1px 1px 2px #00000055;
  border-radius: 9px;
  background-color: #dedede;
  font-size: 12px;
  font-family: var(--ion-font-family);

  .status-label {
    font-size: 12px;
    font-family: var(--ion-font-family);
    color: #7e3533;
    text-align: center;
    text-transform: capitalize;
  }
  .status-value {
    text-transform: capitalize;
    text-align: center;
    font-size: 15px;
    font-family: var(--ion-font-family-header);
    margin-top: 2px;
  }
}

.text-center {
  text-align: center;
}

.con-drop-mhader {
  width: 100%;
  display: flex;
}
.nk-condi-avail-calendar{
        font-size: 20px;
}


.modal-dialog {
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 2px;
    .modal-content {
      border-radius: 10px;
      text-align: center;
      .modal-header {
        padding: 0 5px;
        border: none;
      }
    }
  }