<ion-header>
  <ion-toolbar class="ion-toolbar-header-bg">
    <ion-buttons slot="start">
      <ion-back-button mode="ios" text=""></ion-back-button>
    </ion-buttons>
    <ion-title slot="secondary" class="pl-5">Condition-sub-details</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <div class="mt-2">
    <nk-dropdown-select [value]="currentActiveItem" [itemsarray]="items" (onSelect)="selectedValue($event)">
    </nk-dropdown-select>
  </div>
  <div class="mt-1 condition-details-img-area">
    <img [src]="getProcessImg | safeUrl" alt="mechine" height="300" onError="this.src='./assets/image/No_Image_Available.jpg'">
  </div> 
  <div calss="text-center" style="text-align: center;">
    <ion-button mode="md" color="secondary" shape="round" (click)="openTrend()"> TREND</ion-button>
  </div>
  <!-- <div class="">
    <ion-card class="device-status-card m-0">
      <ion-card-content>
        <div class="row">
          <div class="col-6 ferror mt-2 text-center" *ngFor="let item of [1,2,3,3];let i = index"
            [ngClass]="{'fsuccess': i %2 ==0}">
            {{i+1}}. exhaust Air Blower
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div> -->

  <div class="mt-2 pt-1">
    <ion-card class="device-sub-status-card m-0">
      <ion-card-content>
        <div class="row">
          <!-- <div class="col-6  mt-1" *ngFor="let item of parameterList;let i = index" [ngClass]="{'fsuccess': i %2 ==0}"> -->
          <div class="col-6  mt-1" *ngFor="let item of parameterList;let i = index">
            <div class="status-label">{{item?.Name}}</div>
            <div class="status-value mt-1">{{item?.Value}}</div>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>


<div class="modal fade" id="conditionModalGraph" tabindex="-1" role="dialog" data-backdrop="false"
  aria-labelledby="exampleModalCenterTitle">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content m-1">
      <div class="modal-header m-2">
        <nk-dropdown-select class="wd-100" [value]="parameterChartForm?.controls?.ParameterName?.value" [itemsarray]="parameterListTrend" (onSelect)="selectedValueChart($event)">
        </nk-dropdown-select>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="nk-condi-avail-calendar">
          <ion-icon name="calendar-outline"(click)="showDate()"></ion-icon>
        </div>
        <div>
          <div class="m-2">
            <!-- <div class="text-center nk-chart-header m-2">Hourly Production</div> -->
            <div class="p-3 nk-chart-wrapper" *ngIf="lineChartData">
              <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                [colors]="lineChartColors" [chartType]="lineChartType" [legend]="false" [style.max-width]="'95%'"
                [style.min-width]="'95%'">
              </canvas>
            </div>
            <!-- <div class="no-data" *ngIf="lineChartData?.data?.length<=0">
              NO DATA
            </div> -->
          </div>
      
        </div>
      </div>

    </div>
  </div>
</div>